// ---------------------------------------------------------
// 1. COLORS
// ---------------------------------------------------------
// general
// --------------------
// legend:
// 1. theme-scheme color
// 2. white/black
// 3. grays
// 4. primary
// 5. secondary
// ---------------------------------------------------------

// 1. Theme Scheme Color
$light-color-green: #80A077;

$green: $light-color-green;
$brand-primary: $green;

// --------------------
// 5. Typography
// links  
$link-color:                $brand-primary;
$link-hover-color:          saturate(adjust-hue($link-color, 10), 55);
