{% extends "base.html" %}
{% load static %}

{% block own_head %}
    <script src="{% static "main/main.js" %}"></script>
    <link rel="stylesheet" href="{% static "css/main/main.css" %}"/>
{% endblock %}

{% block main %}
   <!-- FOR BODY background-noise: add 'bg-noise' to this div -->
<div class="page-wrap" style="margin-top: 0px;">
  <div class="portfolio-home-top">
  	 <div class="container">
      	<div class="row">
      		<div class="text-center animated bounceInDown" style="margin-top: 190px;">
      			<h1 style="font-size: 48pt; color: rgba(255,255,255,.85)">Доставляй удовольствие</h1>
      		</div>
        </div>

        <div class="navBtns">
  				<div class="text-center">
  		    		<div class="col-sm-6">
  		    			<div class="animated bounceInLeft" style="margin-top: 200px;">
  		    				<a href="#buy" data-toggle="smoothScroll">
                    <button type="button" class="btn btn-lg btn-default" style="font-size: 28pt; color: #fff; background-color: rgba(187, 187, 187, 0.45); non border-color;">Куплю</button>
                  </a>
  		    			</div>
  		    		</div>
  		    		
  		    		<div class="col-sm-6">
  		    			<div class="animated bounceInRight" style="margin-top: 200px;">
                    <a href="#sale" data-toggle="smoothScroll">
                      <button type="button" class="btn btn-lg btn-default" style="font-size: 28pt; color: #fff; background-color: rgba(187, 187, 187, 0.45)">Доставлю</button>
                    </a>
  		    			</div>
  		    		</div>
  		    </div>
        </div>

        <div class="scrollDownBtn">
          <div class="grid-demo text-center">
            <a href="#sale" data-toggle="smoothScroll">
      		   <span class="btn ai ai-4x ai-arrow-down3 animated bounceInDown space space-vert-md" style="margin-top: 45px; font-size: 34px; color: #fff;"></span>
           </a>
          </div>
      	</div>
      </div>
      
      

  </div> <!-- END portfolio-home-top -->


<section id="sale" style="background-image: url('assets/img/bg-white.png')">
<div class="container content-wrap" style="padding-bottom: 0px;">
  <div class="row"  style="margin-top: 100px; margin-bottom: 100px;">
    <div class="icon-callouts">
      <div class="text-center space space-vert-md col-md-4 wow fadeInLeft animated" data-wow-duration="1.3s" data-wow-delay=".15s" style="visibility: visible;-webkit-animation-duration: 1.3s; -moz-animation-duration: 1.3s; animation-duration: 1.3s;-webkit-animation-delay: .15s; -moz-animation-delay: .15s; animation-delay: .15s;">
        <a href="#info" data-toggle="smoothScroll"><i class="ai ai-3x ai-earth ai-circle-outline" style="margin-bottom: 15px;"></i></a>
        <h3>Путешествуй<br>
        <a href="#info" data-toggle="smoothScroll" class="btn btn btn-primary" style="margin-top: 12px;">Learn More</a>
      </div>

      <div class="text-center space space-vert-md col-md-4 wow fadeInUp animated" data-wow-duration="1.3s" data-wow-delay=".15s" style="visibility: visible;-webkit-animation-duration: 1.3s; -moz-animation-duration: 1.3s; animation-duration: 1.3s;-webkit-animation-delay: .15s; -moz-animation-delay: .15s; animation-delay: .15s;">
        <a href="store/my-cart1.html"> <i class="ai ai-3x ai ai ai-file ai-circle-outline" style="margin-bottom: 15px;"></i></a>
        <h3>Выбирай заказы<br>
        <a href="store/my-cart1.html" class="btn btn btn-primary" style="margin-top: 12px;">Start Today</a>
      </div> 

      <div class="text-center space space-vert-md col-md-4 wow fadeInRight animated" data-wow-duration="1.3s" data-wow-delay=".15s" style="visibility: visible;-webkit-animation-duration: 1.3s; -moz-animation-duration: 1.3s; animation-duration: 1.3s;-webkit-animation-delay: .15s; -moz-animation-delay: .15s; animation-delay: .15s;">
        <a href="#info" data-toggle="smoothScroll"><i class="ai ai-3x ai ai-gift ai-circle-outline" style="margin-bottom: 15px;"></i></a>
        <h3>Получай вознаграждения<br>
        <a href="#info" data-toggle="smoothScroll" class="btn btn btn-primary" style="margin-top: 12px;">Buy Now</a>
      </div>
    </div> <!-- end icon-callouts -->
  </div> <!-- end row -->
  </section>

  <section id="buy" style="background-image: url('assets/img/bg-white.png'); padding-bottom: 80px;">
  <p class="h3 fancy divider" style="background: #f4f4f4"><span class="ai ai-compass"></span></p>

  <div class="row" style="margin-top: 110px;">
    <div class="icon-callouts">
       <div class="text-center space space-vert-md col-md-4 wow fadeInLeft animated" data-wow-duration="1.3s" data-wow-delay=".15s" style="visibility: visible;-webkit-animation-duration: 1.3s; -moz-animation-duration: 1.3s; animation-duration: 1.3s;-webkit-animation-delay: .15s; -moz-animation-delay: .15s; animation-delay: .15s;">
        <i class="ai ai-3x ai-pencil2 ai-circle-outline" style="margin-bottom: 15px;"></i>
        <h3>Создавай заявки<br>
        <a href="#" class="btn btn btn-primary" style="margin-top: 12px;">Learn More</a>
      </div>

       <div class="text-center space space-vert-md col-md-4 wow fadeInDown animated" data-wow-duration="1.3s" data-wow-delay=".15s" style="visibility: visible;-webkit-animation-duration: 1.3s; -moz-animation-duration: 1.3s; animation-duration: 1.3s;-webkit-animation-delay: .15s; -moz-animation-delay: .15s; animation-delay: .15s;">
        <i class="ai ai-3x ai-bubbles3 ai-circle-outline" style="margin-bottom: 15px;"></i>
        <h3>Ищи путешественников<br>
        <a href="#" class="btn btn btn-primary" style="margin-top: 12px;">Start Today</a>
      </div> 

       <div class="text-center space space-vert-md col-md-4 wow fadeInRight animated" data-wow-duration="1.3s" data-wow-delay=".15s" style="visibility: visible;-webkit-animation-duration: 1.3s; -moz-animation-duration: 1.3s; animation-duration: 1.3s;-webkit-animation-delay: .15s; -moz-animation-delay: .15s; animation-delay: .15s;">
        <i class="ai ai-3x ai ai ai-cart3 ai-circle-outline" style="margin-bottom: 15px;"></i>
        <h3>Покупай дешевле<br>
        <a href="#" class="btn btn btn-primary" style="margin-top: 12px;">Buy Now</a>
      </div>
    </div> <!-- end icon-callouts -->
  </div> <!-- end row -->
  </section>
</div> <!-- end container -->

<!--<p class="h3 fancy divider" style="background-image: url('assets/img/bg-blue-light.png'); height: 47px;padding-top: 10px;"><span class="ai ai-compass"></span></p>-->
<section id="info">
<div class="home__group--highlight" style="background-image: url('assets/img/bg-white1.png')">
  <div class="container">

    <div class="row" style="margin-top: 60px; margin-bottom: 60px;">
      <div class="col-md-3">
        <div class="h1 no-margin">Like Bisnes</div>
      </div>
      <div class="col-md-7">
        <p>Часто бываешь за границей? Готов доставлять товары?<br>Получай заказы, повышай свой рейтинг и это станет твоим новым источником дохода.</p>
      </div>
      <div class="col-md-2 col-xs-6">
        <a href="home-simple.html" class="btn btn-primary btn-block">View Business</a>
      </div>
    </div> <!-- end row -->
    
    <hr>
    
    <div class="row" style="margin-top: 60px; margin-bottom: 60px;">
      <div class="col-md-3">
        <div class="h2 no-margin">Система вознаграждений</div>
      </div>
      <div class="col-md-7">
      <p>Regardless of your portfolio needs, Adapto has you covered. Home page layouts, portfolio pages, and individual project pages are waiting for your next project.</p>
      </div>
      <div class="col-md-2 col-xs-6">
        <a href="portfolio/portfolio-one.html" class="btn btn-primary btn-block">view Portfolio</a>
      </div>
    </div> <!-- end row -->
    
    <hr>
    
    <div class="row" style="margin-top: 60px; margin-bottom: 60px;">
      <div class="col-md-3">
        <div class="h2 no-margin">Сравнение цен</div>
      </div>
      <div class="col-md-7">
        <p>Page templates, customized ecommerce header bar options, and tons of other built-in functionality make Adapto a great choice for nearly any ecommerce site.</p>
      </div>  
      <div class="col-md-2 col-xs-6">
        <a href="store/store-one.html" class="btn btn-primary btn-block">View Store</a>
      </div>
    </div> <!-- end row -->

  </div> <!-- end container -->
</div> <!-- end section offset -->
</section>


<div class="container content-wrap">

  <!-- features -->
  <div class="row features--home">
    
    <div class="col-md-4 media features--feature-wrap">
      <i class="pull-left ai  ai-2x ai-circle ai-html5"></i>
      <div class="media-body">
        <div class="media-heading">
          <h3 class="no-bottom-margin">HTML5</h3>
        </div>  
        <p><strong class="text-muted">Future Proofed Markup</strong><br>
        Adapto is built with HTML5 markup and features. This means that it's easily extendible with different web APIs that necessitate the use of HTML5.</p>
      </div>
    </div>
    
    <div class="col-md-4 media features--feature-wrap">
      <i class="pull-left ai  ai-2x ai-circle ai-css3"></i>
      <div class="media-body">
        <div class="media-heading">
          <h3 class="no-bottom-margin">CSS3</h3>
        </div>  
        <p><strong class="text-muted">Tomorrow, today.</strong><br>
        CSS3 allows for lots of pretty sweet stuff, including animations that are generally faster and lighter than those with Javascript.</p>
      </div>
    </div>
    
    <div class="col-md-4 media features--feature-wrap">
      <i class="pull-left ai  ai-2x ai-circle ai ai-file2"></i>
      <div class="media-body">
        <div class="media-heading">
          <h3 class="no-bottom-margin">Documentation</h3>
        </div>  
        <p><strong class="text-muted">For Newbies &amp; Veterans Alike</strong><br>
        We've spent hours crafting thorough documentation for Adapto to help you quickly get up running and customize till your heart's content.</p>
      </div>
    </div>
    
    <div class="col-md-4 media features--feature-wrap">
      <i class="pull-left ai  ai-2x ai-circle ai-css3"></i>
      <div class="media-body">
        <div class="media-heading">
          <h3 class="no-bottom-margin">Sass Built</h3>
        </div>  
        <p><strong class="text-muted">Pre-Processing Superpower</strong><br>
        Sass is css with super powers. That's why we've used it to build Adapto. The simple power of variables lets you toggle colors, backgrounds, layouts, and more.</p>
      </div>
    </div>
    
    <div class="col-md-4 media features--feature-wrap">
      <i class="pull-left ai  ai-2x ai-circle ai-wand"></i>
      <div class="media-body">
        <div class="media-heading">
          <h3 class="no-bottom-margin">Customizable</h3>
        </div>  
        <p><strong class="text-muted">Also great out-of-the-box</strong><br>
        Adapto can be customized in powerful ways with ease. With only a basic knowledge of html and css, quickly transform Adapto into a unique yet professional site.</p>
      </div>
    </div>
    
    <div class="col-md-4 media features--feature-wrap">
      <i class="pull-left ai  ai-2x ai-circle ai-cog"></i>
      <div class="media-body">
        <div class="media-heading">
          <h3 class="no-bottom-margin">Option Packed</h3>
        </div>  
        <p><strong class="text-muted">For Ultimate Adaptability</strong><br>
        The customization widget (click the cogs icon, left) demonstrates the many options built into Adapto. Colors, textures, spacings, and layouts - give it a try!</p>
      </div>
    </div>
    
  </div>

  



  <!-- 3 col image block -->
  <div class="row three-col-img-block space--big">

    <!-- image -->
    <div class="col-md-12 no-border">
      <img src="assets/img/home/home-bottom.jpg" alt="" class="img-responsive visible-md visible-lg">
    </div>
    
    <!-- columns -->
    <div class="col-md-4 space-vert-md">
      <div class="ai ai-barcode ai-5x ai-circle-spaced-border-blend"></div>
      <h4><strong>One of a Kind</strong></h4>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius, esse delectus facilis suscipit! Ut, odio?</p>
      <p class="phone">1-888-2323</p>
    </div>
    <div class="col-md-4 space-vert-md">
      <div class="ai ai-globe ai-5x ai-circle-spaced-border-blend"></div>
      <h4><strong>Request a Demo</strong></h4>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius, esse delectus facilis suscipit! Ut, odio?</p>
      <a href="#">Request a demo <span class="ai ai-arrow-right5"></span></a>
    </div>
    <div class="col-md-4 space-vert-md">
      <div class="ai ai-credit ai-5x ai-circle-spaced-border-blend"></div>
      <h4><strong>Buy Today</strong></h4>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius, esse delectus facilis suscipit! Ut, odio?</p>
      <a href="#">Buy Now <span class="ai ai-arrow-right5"></span></a>
    </div>

  </div> <!-- end row -->
</div> <!-- end container -->

  
    </div> <!-- end page-wrap -->
    
      
      
{% endblock %}
