{% extends "base.html" %}
{% load static %}

{% block own_head %}
    <script src="{% static "main/main.js" %}"></script>
    <link rel="stylesheet" href="{% static "css/main/main.css" %}"/>
{% endblock %}

{% block main %}
   <!-- FOR BODY background-noise: add 'bg-noise' to this div -->
<div class="page-wrap2" style="background-position: 0% 0px;">
  <div class="portfolio-home-top">
    <div>
  	  <div class="container">

        <div class="row">
      		<div class="text-center wow fadeInDown animated" data-wow-duration="1.3s" data-wow-delay=".15s" style="visibility: visible;-webkit-animation-duration: 1.3s; -moz-animation-duration: 1.3s; animation-duration: 1.3s;-webkit-animation-delay: .15s; -moz-animation-delay: .15s; animation-delay: .15s; margin-top: 200px;">
      			<h1 style="font-size: 48pt; color: rgba(255,255,255,.85); ">Сделай это дешевле</h1>
          </div>
          <div class="subsloganWrap text-center space col-md-4 wow fadeInUp animated" data-wow-duration="1.3s" data-wow-delay="0.9s" style="visibility: visible;-webkit-animation-duration: 1.3s; -moz-animation-duration: 1.3s; animation-duration: 1.3s;-webkit-animation-delay: 0.9s; -moz-animation-delay: 0.9s; animation-delay: 0.9s;">
            <div class="subslogan">
              Заказывай товары у путешественников из любой точки мира
            </div>
            <a class="btn btn-default how-btn" href="/info/faqs">Как это работает</a>
          </div>
        </div>

        <div class="row">
  				<div class="text-center">
		    		<div class="col-sm-6">
		    			<div class="animated mainBtnWrap wow fadeInLeft animated" data-wow-duration="1.3s" data-wow-delay=".15s" style="visibility: visible;-webkit-animation-duration: 1.3s; -moz-animation-duration: 1.3s; animation-duration: 1.3s;-webkit-animation-delay: .15s; -moz-animation-delay: .15s; animation-delay: .15s;">
		    				<a href="#buy" data-toggle="smoothScroll">
                  <button type="button" class="btn btn-lg btn-default mainButton">Хочу заказать</button>
                </a>
		    			</div>
		    		</div>

		    		<div class="col-sm-6">
		    			<div class="animated mainBtnWrap wow fadeInRight" data-wow-duration="1.3s" data-wow-delay=".15s" style="visibility: visible;-webkit-animation-duration: 1.3s; -moz-animation-duration: 1.3s; animation-duration: 1.3s;-webkit-animation-delay: .15s; -moz-animation-delay: .15s; animation-delay: .15s;">
                <a href="#sale" data-toggle="smoothScroll">
                  <button type="button" class="btn btn-lg btn-default mainButton">Готов доставить</button>
                </a>
		    			</div>
		    		</div>
  		    </div>
        </div>

        <div class="row">
          <div class="grid-demo text-center">
            <a href="#sale" data-toggle="smoothScroll">
      		    <span class="btn ai ai-4x ai-arrow-down3 animated space space-vert-md wow fadeInDown" data-wow-duration="1.3s" data-wow-delay=".15s" style="visibility: visible;-webkit-animation-duration: 1.3s; -moz-animation-duration: 1.3s; animation-duration: 1.3s;-webkit-animation-delay: .15s; -moz-animation-delay: .15s; animation-delay: .15s; margin-top: 54px; font-size: 34px; color: #fff;"></span>
            </a>
          </div>
      	</div>

      </div>
    </div>
  </div>
</div>



  </div> <!-- END portfolio-home-top -->

<section id="sale" class="bg0">
<div class="container content-wrap" style="padding-bottom: 0px;">
  <div class="row"  style="margin-top: 100px; margin-bottom: 100px;">
    <div class="icon-callouts">
      <div class="text-center space space-vert-md col-md-4 wow fadeInLeft animated" data-wow-duration="1.3s" data-wow-delay=".15s" style="visibility: visible;-webkit-animation-duration: 1.3s; -moz-animation-duration: 1.3s; animation-duration: 1.3s;-webkit-animation-delay: .15s; -moz-animation-delay: .15s; animation-delay: .15s;">
        <a href="/offer/sale"><i class="ai ai-3x ai-earth ai-circle-outline" style="margin-bottom: 15px;"></i></a>
        <h3>Путешествуй<br>
        <a href="/offer/sale" class="btn btn-primary" style="margin-top: 12px;">Создать маршрут</a>
      </div>

      <div class="text-center space space-vert-md col-md-4 wow fadeInUp animated" data-wow-duration="1.3s" data-wow-delay=".15s" style="visibility: visible;-webkit-animation-duration: 1.3s; -moz-animation-duration: 1.3s; animation-duration: 1.3s;-webkit-animation-delay: .15s; -moz-animation-delay: .15s; animation-delay: .15s;">
        <a href="/offer/buy/list"><i class="ai ai-3x ai ai ai-file ai-circle-outline" style="margin-bottom: 15px;"></i></a>
        <h3>Выбирай заказы<br>
        <a href="/offer/buy/list" class="btn btn btn-primary" style="margin-top: 12px;">Список заказов</a>
      </div>

      <div class="text-center space space-vert-md col-md-4 wow fadeInRight animated" data-wow-duration="1.3s" data-wow-delay=".15s" style="visibility: visible;-webkit-animation-duration: 1.3s; -moz-animation-duration: 1.3s; animation-duration: 1.3s;-webkit-animation-delay: .15s; -moz-animation-delay: .15s; animation-delay: .15s;">
        <a href="#info" data-toggle="smoothScroll"><i class="ai ai-3x ai ai-gift ai-circle-outline" style="margin-bottom: 15px;"></i></a>
        <h3>Получай вознаграждения<br>
        <a href="#info" data-toggle="smoothScroll" class="btn btn btn-primary" style="margin-top: 12px;">Подробнее</a>
      </div>
    </div> <!-- end icon-callouts -->
  </div> <!-- end row -->
  </section>

  <section id="buy" class="bg0" style="padding-bottom: 80px;">
  <p class="h3 fancy divider" style="background: #f4f4f4"><span class="ai ai-compass"></span></p>
  <div class="container content-wrap" style="padding-bottom: 0px;">
  <div class="row" style="margin-top: 110px;">
    <div class="icon-callouts">
      <div class="text-center space space-vert-md col-md-4 wow fadeInLeft animated" data-wow-duration="1.3s" data-wow-delay=".15s" style="visibility: visible;-webkit-animation-duration: 1.3s; -moz-animation-duration: 1.3s; animation-duration: 1.3s;-webkit-animation-delay: .15s; -moz-animation-delay: .15s; animation-delay: .15s;">
        <a href="/offer/buy"><i class="ai ai-3x ai-pencil2 ai-circle-outline" style="margin-bottom: 15px;"></i></a>
        <h3>Создавай заявки<br>
        <a href="/offer/buy" class="btn btn btn-primary" style="margin-top: 12px;">Создать заявку</a>
      </div>

       <div class="text-center space space-vert-md col-md-4 wow fadeInDown animated" data-wow-duration="1.3s" data-wow-delay=".15s" style="visibility: visible;-webkit-animation-duration: 1.3s; -moz-animation-duration: 1.3s; animation-duration: 1.3s;-webkit-animation-delay: .15s; -moz-animation-delay: .15s; animation-delay: .15s;">
        <a href="/offer/sale/list"><i class="ai ai-3x ai-bubbles3 ai-circle-outline" style="margin-bottom: 15px;"></i></a>
        <h3>Ищи путешественников<br>
        <a href="/offer/sale/list" class="btn btn btn-primary" style="margin-top: 12px;">Список маршрутов</a>
      </div>

       <div class="text-center space space-vert-md col-md-4 wow fadeInRight animated" data-wow-duration="1.3s" data-wow-delay=".15s" style="visibility: visible;-webkit-animation-duration: 1.3s; -moz-animation-duration: 1.3s; animation-duration: 1.3s;-webkit-animation-delay: .15s; -moz-animation-delay: .15s; animation-delay: .15s;">
        <a href="#info" data-toggle="smoothScroll"><i class="ai ai-3x ai ai ai-cart3 ai-circle-outline" style="margin-bottom: 15px;"></i></a>
        <h3>Покупай дешевле<br>
        <a href="#info" data-toggle="smoothScroll" class="btn btn btn-primary" style="margin-top: 12px;">Подробнее</a>
      </div>
    </div> <!-- end icon-callouts -->
  </div> <!-- end row -->
</div>
  </section>
</div> <!-- end container -->

<!--<p class="h3 fancy divider" class="bgBlueLight" style=" height: 47px;padding-top: 10px;"><span class="ai ai-compass"></span></p>-->

<setion id="security">
<div style="background-attachment: fixed;" class="bg2">
  <div class="container content-wrap" style="padding-bottom: 35px;">
    <div class="row">
      <div class="three-col-img-block space--big">
        <div class="col-sm-4 col-sm-offset-4 no-border text-center wow fadeInLeft" data-wow-duration="1.4s" data-wow-delay=".2s">
            <img src="{% static "ext/adapto/assets/img/TestBox.png" %}" alt="" class="img-responsive visible-sm visible-lg" style="margin-top: 35px;">
        </div>
      </div>
    </div>
    <div class="row wow fadeInRight" data-wow-duration="1.4s" data-wow-delay=".2s">
      <div class="col-sm-4 col-sm-offset-4" style="height: 100px;">
        <h1 style="font-size: 48pt; color: rgba(122,135,154,.95); text-align: center;">Безопасно</h1>
      </div>
      <div class="col-sm-4 col-sm-offset-4" style="">
        <div class="text-center" style="font-size: 11pt; color: rgba(0,0,0,.70)"> Разработанная система гаранта позволяет обеспечить безопасность, как заказчику, так и доставителю.</div>
      </div>
    </div>
    <div class="container-fluid">
      <div class="col-md-12" style="text-align: center; margin-top: 15px;">
        <a href="/info/security/" class="btn btn-primary">Узнать подробнее</a>
      </div>
    </div>
  </div>
</div>
</section>

<section id="info">
<div class="home__group--highlight bg0" style="padding-bottom: 100px;">
  <div class="container">
    <div class="row" style="margin-top: 150px; margin-bottom: 150px;">
      <div class="col-md-3">
        <div class="h2 no-margin"><br>Актуально</div>
      </div>
      <div class="col-md-7">
        Trip and Sale - сервис, с помощью которого каждый может
        <ul>
          <li>Получить выбраный заказ в кратчайшие сроки.</li>
          <li>Получить прибыль за доставку заказа.</li>
        </ul>
        Используя услугу гаранта - работать с заказами - безопасно.
      </div>
      <div class="col-md-2 col-xs-6">
        <a href="/info/topical/" class="btn btn-primary btn-block">Подробнее</a>
      </div>
    </div> <!-- end row -->

    <p class="h3 fancy divider" style="background: #f4f4f4"><span class="ai ai-compass"></span></p>

    <div class="row" style="margin-top: 150px; margin-bottom: 100px;">
      <div class="col-md-3">
        <div class="h2 no-margin"><br>Сравнение цен</div>
      </div>
      <div class="col-md-7">
        <p>Ни для кого не секрет, что те или иные товары в разных странах стоят по-разному.<br><br><!---Это может происходить за счет таможенных пошлин, транспортных и логистических издержек, наценок торговых дилеров...-->Теперь каждый может получать товары, не платя за транспортные издержки или наценки торговых диллеров конкретной страны.</p>
      </div>
      <div class="col-md-2 col-xs-6">
        <a href="info/compare" class="btn btn-primary btn-block">Сравнить цены</a>
      </div>
    </div> <!-- end row -->

    <!--
    <hr class="double">

    <div class="row" style="margin-top: 60px; margin-bottom: 60px;">
      <div class="col-md-3">
        <div class="h2 no-margin">Вознаграждения</div>
      </div>
      <div class="col-md-7">
      <p>По умолчанию сервис Trip and Sale бесплатный.<br>Сумма вознаграждения доставщику согласуется пользователями самостоятельно.<br>При использовании услуги гаранта сервис удерживает 2% от совершаемой сделки.</p>
      </div>
      <div class="col-md-2 col-xs-6">
        <a href="pages/presents.html" class="btn btn-primary btn-block">Подробнее</a>
      </div>
    </div> <!-- end row -->

  </div> <!-- end container -->
</div> <!-- end section offset -->
</section>

<div class="portfolio-home-down" style="background-attachment: fixed;">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-md-offset-3">
          <h1 style="font-size: 78pt; color: rgba(255,255,255,.85); text-align: center; margin-top:150px; font-family: 'Italianno', cursive;">Carpe Diem</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4 col-md-offset-8">
         <i><h1 style="font-size: 16pt; color: rgba(255,255,255,.95); text-align: center; margin-top:70px;">*Лови момент (лат.)</h1></i>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- F

{% endblock %}
