.container2 {
    padding-top: 20px;
    padding-bottom: 20px;
}

.footer {
    height: 200px;
    background-color: #55a;
}

input[type=text], input[type=password], input[type=email] {
    border-radius: 0px;
}

.btn {
    border-radius: 0px;   
}
