.fullFirstPage {
    position: absolute;
    background: url("/static/img/bg_passport2.jpg") center no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;

    .header {
        .topPanel {
            background-color: rgba(0, 0, 20, 0.6);
        }
    }
}

.firstPage {
    .header {
        .topPanel {
            padding: 0px 0px 10px 10px;

            .logo {
                margin: 4px 0px 0px 0px;
                float: left;
                font-size: 20pt;
            }
            .topButtons {
                margin: 14px 10px 0px 0px;
                float: right;
            }
        }
    }
}

.main {
    position: absolute;
    top: 100%;
    width: 100%;
    margin-bottom: 20px;
    background-color: rgba(255, 255, 255, 0);
}

.container2 {
    padding-top: 20px;
    padding-bottom: 20px;
}

.footer {
    height: 200px;
    background-color: #55a;
}

input[type=text], input[type=password], input[type=email] {
    border-radius: 0px;
}

.btn {
    border-radius: 0px;   
}
