@import "conf.less";

.container2 {
    padding-top: 20px;
    padding-bottom: 20px;
}

.main {
    margin: 70px auto 10px auto;
}

input[type=text], input[type=password], input[type=email] {
    cursor: default;

    &:focus {
        border-color: #88a;
        box-shadow: inset 0 1px 1px rbga(0, 0, 10, 0.75);
    }
}

.btn {
}

.colMin {
    margin: 0;
    padding: 0px 2px;
}

.bboldy {
    font-weight: 900;
    color: #333000;
}

.bg0 {
    background: url("/static/bg-white.png");
}

.bg1 {
    background: url("/static/bg-blue-light-alpha.png");
    color: rgba(255, 255, 255, 0.95);
    opacity: 0.7;
}

.bg2 {
    background: url("/static/bg-white2.png");
}

.bgBlueDark {
    background: url("/static/bg-blue-dark.png");
}
    
.bgBlueLight {
    background: url("/static/bg-blue-light.png");
}


