@import "conf.less";

.topPanelWrapper  {
    width: 100%;
    z-index: @topPanelZ;
    height: @topPanelHeight;

    .topPanel {
        height: 100%;
        padding: 0px 0px 10px 10px;
        background-color: rgba(0, 0, 20, 0.6);

        .logo {
            margin: 4px 0px 0px 0px;
            float: left;
            font-size: 20pt;
        }

        .userPanel {
            margin: 14px 10px 0px 0px;
            float: right;
            color: #ccc;
            font-weight: 900;

            .userPanelItem {
                padding: 8px 6px;
                cursor: pointer;
                color: inherit;
            }

            .userPanelItem:hover {
                padding: 7px 5px;
                border: 1px solid #aaa;
                text-decoration: none;
            }

            .userPanelSeparator {
                border: solid #888;
                border-width: 0px 1px 0px 0px;
                margin: 0px 2px;
            }

            .profileBtn {
            }

            .userRegBtn {
                color: #ddc;
            }
        }

        .userLoginForm {
            display: none;
            position: absolute;
            top: @topPanelHeight;
            right: 0px;
            width: 300px;
            background-color: rgba(0, 0, 0, 0.5);
            border: 1px solid #000;
            padding: 6px 18px 0px 18px;
        }
    }
}

