@import "../../conf.less";

.tripViewBg {
    position: fixed;
    z-index: @tripViewZ;
    top: 0px;
    height: 100%;
    width: 100%;
    
    .tripViewGoBack {
        position: absolute;
        z-index: @tripViewZ + 10;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.7);
        cursor: pointer;
    }

    .tripViewGoBack:hover {
    }
    
    .tripView {
        position: absolute;
        z-index: @tripViewZ + 20;
        top: 100px;
        bottom: 100px;
        left: 10%;
        right: 10%;
        background-color: #fff;
        border: 1px solid #888;
        border-radius: 3px;

        .tripViewCloseBtn {
            position: relative;
            right: 0;
            float: right;
        }

        .tripViewContent {
            padding: 20px;

            .trip-item-title {
                display: inline-block;
                width: 200px;
            }

            .trip-item-content {
                font-weight: 900;
            }

            hr {
                margin: 14px 0px;
                border-color: #eee;
            }

            .places {
                .place {
                }

                .place-from {
                    margin-right: 10px;
                }

                .place-to {
                    margin-left: 10px;
                }
            }

            .dates {
                .date-row {
                    .date-title {
                    }
                    .date-content {
                        display: inline-block;
                    }
                }
            }

            .guarant {
                font-weight: 900;
                color: #a00;
            }

            .owner {
                .owner-name {
                    a {
                        color: #600;
                        font-weight: 900;
                    }
                }
                
                .owner-av {
                    img {
                        max-width: 200px;
                        max-height: 200px;
                    }
                }
            }
        }
    }
}

.trips {
    height: 100%;
    
    .tripsList {
        .tripItem:hover {
            border-color: #5bb0c5;
        }
        
        .tripItem {
            border: 1px solid #ccc;
            border-radius: 4px;
            margin: 4px 0px;
            padding: 3px 6px;
            background-color: rgba(250, 250, 250, 0.2);
            cursor: pointer;

            table {
                width: 100%;
                background: inherit;
            }

            .tripSection {
                vertical-align: top;
                display: inline-block;

                .tripSectionTitle {
                    font-weight: 900;
                    font-size: 10pt;
                }

                .tripSectionContent {
                    font-size: 11pt;
                }
            }

            img {
            }

            .tripCity {
                color: #888;
            }

            .tripFrom {
                width: 20%;
                max-width: 20%;
            }

            .tripTo {
                width: 20%;
                max-width: 20%;
            }

            .tripDates {
                width: 25%;
                max-width: 25%;

                .tripSectionContent {
                    font-size: 9pt;
                }
            }

            .tripDeposit {
                width: 15%;
                max-width: 15%;
                .guarant {
                    font-weight: 900;
                    color: #600;
                }
            }

            .tripOwner {
                width: 10%;
                max-width: 10%;

                &:hover {
                    * {
                        color: #900;
                    }
                }
                
                .tripSectionContent {
                    text-align: center;

                    .tripOwnerAv {
                        img {
                            border: 1px solid #ddd;
                            max-height: 200px;
                            max-width: 100%;
                        }
                    }
                }
            }

        }
    }
}

