    <div class="page-wrap bg2">   
      <div class="container content-wrap">
          <div class="text-center">
        <h1 style="font-size:120px;" class="no-margin f300">
        <small class="f300">О нет :(</small ><br>
        404 <br>
        <small class="f300">Страница не найдена</small></h1>
        </div>
        <div class="row space">
          <p  style="font-weight:300;" class="space text-center lead">Ссылки:</p>
          <ul class="icon-boxes list-unstyled">
            <li class="icon-btn icon-btn_man"> 
              <a href="../index1.html">
                <span class="icon-btn_icon">
                  <i class="ai ai-home"></i>
                </span>
                <span class="icon-btn_text">
                  Домой
                </span>
              </a>
            </li>
            <li class="icon-btn icon-btn_cart">
              <a href="faqs.html">
                <span class="icon-btn_icon">
                  <i class="ai ai-question"></i>
                </span>
                <span class="icon-btn_text">
                  FAQ
                </span>
              </a>
            </li>
            <li class="icon-btn icon-btn_features">
              <a href="../contact/contact-minimalist.html">
                <span class="icon-btn_icon">
                  <i class="ai ai-mail2"></i>
                </span>
                <span class="icon-btn_text">
                  Контакты
                </span>
              </a>
            </li>
          </ul>
        </div>
      </div> <!-- end container -->

      
        </div> <!-- end page-wrap -->
