<!doctype html>
<html lang="ru" id="top">

  <head>
    <meta charset="UTF-8">
    
    <!-- TITLE TAG - text for browser tabs -->
    <title>Trip&Sale &there4; О нас</title>

    <!-- RESPONSIVE VIEWPORT -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- FAVICON -->
    <link rel="icon" type="image/png" href="../assets/img/favicon.png" />

    <!-- STYLESHEETS -->
    <!-- Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Source+Code+Pro|Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <!-- CORE DEFAULT Stylesheet (theme scheme) - CHANGE THEME SCHEME HERE -->
    <link href="../assets/css/global-style_light--blue1.css" rel="stylesheet" >    
    

        

    
    
  </head>

  <body>
    
    <!-- Extra Header (optional) -->
<!-- TO USE, follow these steps:
  1. REMOVE the class "header-hidden" from the FIRST div below.
  2. ADD ONE header size class to the same div.
     Options are:
       header-small
       header-medium
       header-large
       header-xl
  3. Decide which content you'd like in the extra header as seen in demo from the list below. 
     Remove the class "header-hidden" from each list that you want.
     Edit each list as you'd like. 
 -->
<header id="header" class="header slide animated" role="banner" style="background-color: rgba(244,244,244,.9);">
  <div class="container">
    <div class="row" style="background-color: rgba(244,244,244,.0);">
    
      <div class="navbar-header">
        
        <!-- TOGGLE BUTTON for mobile -->
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Navigation</span>
          <span class="ai ai-menu ai-2x ai-primary"></span>
        </button>

        <!-- sitewide logo LINK TO ROOT INDEX (home) PAGE -->
        <a href="../index1.html" class="navbar-brand">
          <!-- sitewide LOGO HERE (as text, image, or both) -->
          <span class="logo-top">
            Trip<span class="ai ai-compass"></span>Sale
          </span>
          <!-- Hidden text in an h1 tag for SEO purposes -->
          <h1 class="text-hide">Trip&Sale</h1>        
        </a> <!-- end site-wide logo link -->

      </div> <!-- end navbar-header -->

      
      </div> <!-- end navbar wrapper -->
    </div> <!-- end row -->
  </div> <!-- end container -->
</header>
    <!-- FOR BODY background-noise: add 'bg-noise' to this div -->
    <div class="page-wrap" style="background-image: url('../assets/img/bg-white.png')">      
      <div class="page-header-wrap">
        <div class="container">
          <div class="page-header"> 

          
            <h1 >О нас</h1>
            
          </div> <!-- end page-header -->
        </div> <!-- end container -->
      </div> <!-- end page-header-wrap -->
  
       
    
    <div class="container content-wrap">
  
  <div class="row">

<article>
      <div class="col-md-8">
          <h1 class="text-center" style="margin-top: 0px;">Trip<span class="ai ai-compass" style="color: #5bb0c5;"></span>Sale</h1>
          <p>
            <ins>Если Вам необходимо что-то из за границы:</ins>
              <ul>Ресур Trip&Sale является интернет площадкой, где каждый может найти для себя путешественника, который мог бы доставить Вам товары из-за границы за заранее оговоренное вознаграждение.</ul>
            <ins>Если Вы путешествуете и решили помочь с доставкой/подзаработать:</ins>
              <ul>С помощью ресурса Trip&Sale Вы можете просматривать заявки на доставку товаров из разных стран и связываться с людьми, которым это необходимо.</ul>
            </p>
            <p>
              Сервис Trip&Sale является бесплатным. Платной является лишь услуга "Гаранта", не являющаяся обязательной для совершения сделки.
            </p>
            
    </div>

</article>  

<aside class="col-md-4">
  <div class="panel-nav sidebar-right">

        <!-- structural blocks -->
  <!-- Contact -->
  <div class="sidebar-group">
    <div class="headline">
      <h3>Информация</h3>
    </div>
      <ul>
        <li><a href="../contact/contact-minimalist.html" style="font-size: 13pt; color:">Контакты</a></li>
        <li><a href="../security-service/security.html" style="font-size: 13pt; color:">Гарант</a></li>
        <li><a href="faqs.html" style="font-size: 13pt; color:">F.A.Q.</a></li>
      </ul>

  </div> <!-- end sidebar-group -->
  
  <!-- Connect -->
  <div class="sidebar-group">
    <div class="headline">
      <h3>Социальные сети</h3>
    </div>
    <ul class="list-inline icons--social-media">
    <li class="tooltip-link" data-toggle="tooltip" data-placement="top" title="VK"><a href="#"><span class="ai ai-2x ai-vk" style="color: #4f90bd">&nbsp;</span></a></li>
  <li class="tooltip-link" data-toggle="tooltip" data-placement="top" title="Facebook"><a href="#"><span class="ai ai-2x ai-facebook2" style="color: #4f90bd"></span></a></li>
</ul>
  </div> <!-- end sidebar-group -->

</div>
      </div> <!-- end toc -->
    </aside>


  </div> <!-- end row -->
  
</div> <!-- end container -->

  
    </div> <!-- end page-wrap -->
    
    
      
<!-- FOOTER -->
<footer class="site-footer footer" style="background-image: url('../assets/img/bg-blue-dark.png')">
  <div class="container">

    <div class="row" style="color: White;">

      <div class="col-md-8 site-footer--col">
        <div class="headline site-footer--heading text-center" style="margin-bottom: 10px;">
          <h3 style="color: White;">Trip&Sale</h3>
        </div>
        <div class="row">
          <div class="col-md-3 col-md-offset-1 text-center">
            <a href="../blocks/contact-form.html" style="font-size: 13pt; color: rgba(255,255,255,.90);">Ваши предложения</a>
          </div>
          <div class="col-md-3 col-md-offset-4 text-center">
            <a href="../contact/contact-minimalist.html" style="font-size: 13pt; color: rgba(255,255,255,.90);">Контакты</a>
          </div>
        </div>
      <div class="row">
        <div class="container-fluid">
          <div <div class="text-center" style="color: rgba(255,255,255,.85);">
            <div class="features--feature-wrap" style="margin-top: 0px;">
              <i class="ai ai-4x ai-compass"></i>
            </div>
          </div>
        </div>
      </div>
       <div class="row">
          <div class="col-md-3 col-md-offset-1 text-center">
            <a href="faqs.html" style="font-size: 13pt; color: rgba(255,255,255,.90);">F.A.Q</a>
          </div>
          <div class="col-md-3 col-md-offset-4 text-center">
            <a href="../security-service/security.html" style="font-size: 13pt; color: rgba(255,255,255,.90);">Гарант</a>
          </div>
        </div>
      </div> <!-- end col -->
      

      <div class="col-md-4 site-footer--col">        
        <div class="headline site-footer--heading text-center" style="margin-bottom: 10px;">
          <h3 style="color: White;">&nbsp;</h3>
        </div>
        <div class="row text-center">
          <a href="../blog/blog.html" style="font-size: 11pt; color: rgba(255,255,255,.90);">Новости</a>
        </div>
        <div class="row text-center">
          <a href="about.html" style="font-size: 11pt; color: rgba(255,255,255,.90);">О нас</a>
        </div>
        <div class="row text-center">
          <a href="#" style="font-size: 11pt; color: rgba(255,255,255,.90);">Правила</a>
        </div>
        <div class="row text-center">
          <a href="#" style="font-size: 11pt; color: rgba(255,255,255,.90);">Оферта</a>
        </div>


      </div> <!-- end col -->
    </div> <!-- end row -->

    <!-- divider -->
    <div class="row">
      <div class="col-xs-12">
        <hr class="double--inverse" style="margin-top: 10px">
      </div>
    </div> <!-- end row -->

    <!-- meta row -->
    <div class="row">
      <div class="site-footer--meta">
        <span class="col-xs-4 col-xs-offset-4 text-center">
          <a href="#top" title="Scroll to Top" data-toggle="smoothScroll"><i class="ai ai-2x ai-arrow-up3"></i></a>
        </span>
        <div class="col-xs-4 text-right">
          <ul class="list-inline icons--social-media">
  <li class="tooltip-link" data-toggle="tooltip" data-placement="top" title="VK"><a href="#"><span class="ai ai-2x ai-vk" style="color: #4f90bd"></span></a></li>
  <li class="tooltip-link" data-toggle="tooltip" data-placement="top" title="Facebook"><a href="#"><span class="ai ai-2x ai-facebook2" style="color: #4f90bd"></span></a></li>
</ul>
        </div>
      </div> <!-- end meta -->
    </div> <!-- end row -->

  </div>  <!-- end container -->

  
</footer>

    

    <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.4.7/webfont.js"></script>
    <script>
      WebFont.load({
      google: {
      families: ["Lato:100,300,400,700,900","Karla:regular","Cookie:regular"]
    }
    });
    </script>
  
    <!-- SCRIPTS -->
    <!-- jQuery first -->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  
    <!-- Global Scripts -->
    
    <script src="../assets/js/global-adapto.min.js"></script>
    <script src="../assets/js/global-bootstrap.min.js"></script>
    
  <!-- include bootstrap validator script for form validation -->
  <script src="../assets/js/bootstrapValidator.min.js"></script>
  <script>
  // initialize validation script, options set above via HTML5 data attributes
  $(document).ready(function() {
    $('#contactForm').bootstrapValidator();
  }); // END doc ready
  </script>

  
    
    
    
    
  </body>
</html>