    <!-- FOR BODY background-noise: add 'bg-noise' to this div -->
    <div class="page-wrap bg0" style="margin-top: 0px;">
      <div class="page-header-wrap">
        <div class="container">
          <div class="page-header">


            <h1 >О нас</h1>

          </div> <!-- end page-header -->
        </div> <!-- end container -->
      </div> <!-- end page-header-wrap -->



    <div class="container content-wrap">

  <div class="row">

<article>
      <div class="col-md-8">
          <h1 class="text-center" style="margin-top: 0px;">Trip<span class="ai ai-compass" style="color: #5bb0c5;"></span>Sale</h1>
          <p>
            <ins>Если Вам необходимо что-то из-за границы:</ins>
              <ul>Ресур Trip&Sale является интернет площадкой, где каждый может найти для себя путешественника, который мог бы доставить Вам товары из-за границы за заранее оговоренное вознаграждение.</ul>
            <ins>Если Вы путешествуете и решили помочь с доставкой/подзаработать:</ins>
              <ul>С помощью ресурса Trip&Sale Вы можете просматривать заявки на доставку товаров из разных стран и связываться с людьми, которым это необходимо.</ul>
            </p>
            <p>
              Сервис Trip&Sale является бесплатным. Платной является лишь услуга "Гаранта", не являющаяся обязательной для совершения сделки.
            </p>

    </div>

</article>

<aside class="col-md-4">
  <div class="panel-nav sidebar-right">

        <!-- structural blocks -->
  <!-- Contact -->
  <div class="sidebar-group">
    <div class="headline">
      <h3>Информация</h3>
    </div>
      <ul>
        <li><a href="/info/contact-minimalist/" style="font-size: 13pt; color:">Контакты</a></li>
        <li><a href="/info/security/" style="font-size: 13pt; color:">Гарант</a></li>
        <li><a href="/info/faqs/" style="font-size: 13pt; color:">F.A.Q.</a></li>
      </ul>

  </div> <!-- end sidebar-group -->

  <!-- Connect -->
  <div class="sidebar-group">
    <div class="headline">
      <h3>Социальные сети</h3>
    </div>
    <ul class="list-inline icons--social-media">
    <li class="tooltip-link" data-toggle="tooltip" data-placement="top" title="VK"><a href="#"><span class="ai ai-2x ai-vk" style="color: #4f90bd">&nbsp;</span></a></li>
  <li class="tooltip-link" data-toggle="tooltip" data-placement="top" title="Facebook"><a href="#"><span class="ai ai-2x ai-facebook2" style="color: #4f90bd"></span></a></li>
</ul>
  </div> <!-- end sidebar-group -->

</div>
      </div> <!-- end toc -->
    </aside>


  </div> <!-- end row -->

</div> <!-- end container -->


    </div> <!-- end page-wrap -->



