{% load static %}

    <!-- FOR BODY background-noise: add 'bg-noise' to this div -->
    <div class="page-wrap bg2">
      
      <div class="page-header-wrap">
        <div class="container">
          <div class="page-header"> 

            
            <h1>Новости</h1>
            
          </div> <!-- end page-header -->
        </div> <!-- end container -->
      </div> <!-- end page-header-wrap -->
      
  
       
<div class="container content-wrap">  
  <div class="row">
    <!-- posts -->
    <section>
      <div class="dataList col-md-12">
        <div class="post-listing-wrap">


    <div class="post-listing media" style="margin-top:0px">
      <div class="icon-callouts">
        <div class="col-md-3 ">
          <i class="ai ai-5x ai ai-stats ai-circle-outline" style="margin-top:40px;"></i>
        </div>
      </div>
      <div class="col-md-9">
          <div class="heading text-center">
            <h3 style="margin-bottom: 0px;">Новый рубеж</h3>
          </div>
          <p style="margin-bottom: 30px;">Суммарное количество активных поездок и заказов достигло 150 штук! Команда Trip&amp;Sale благодарит наших пользователей за оказанное доверие. Количество сделок с гарантом на данный момент составляет около 75%!<br>Мы же в свою очередь готовим очередное функциональное обновление, которое принесет на tripnsale.com рекомендательную систему и не только!</p>
          <div class="post-meta-wrap">
            <ul class="post-meta list-inline">
              <li><span class="ai ai-quill"></span>Trip&amp;Sale</li>
              <li><span class="ai ai-calendar"></span> 25/12/2014 </li> 
            </ul>
          </div>
        </div>
    </div>


    <div class="post-listing media" style="margin-top:80px">
      <div class="icon-callouts">
        <div class="col-md-3">
          <i class="ai ai-5x ai ai-cogs ai-circle-outline" style="margin-top:40px;"></i>
        </div>
      </div>
      <div class="col-md-9">
          <div class="heading text-center">
            <h3 style="margin-bottom: 0px;">Улучшения</h3>
          </div>
          <p style="margin-bottom: 30px;">Команда проекта Trip&amp;Sale рада представить пользователям возможности для комфортного размещения заказов. <br>Теперь пользователи могут загружать изображения, улучшен поиск в поездках и заказах, а так же улучшена функция связи с гарантом.</p>
          <div class="post-meta-wrap">
            <ul class="post-meta list-inline">
              <li><span class="ai ai-quill"></span>Trip&amp;Sale</li>
              <li><span class="ai ai-calendar"></span> 02/12/2014 </li> 
            </ul>
          </div>
        </div>
    </div>

    <div class="post-listing media" style="margin-top:80px">
      <div class="icon-callouts">
        <div class="col-md-3">
          <i class="ai ai-5x ai-shield ai-circle-outline" style="margin-top:40px;"></i>
        </div>
      </div>
      <div class="col-md-9">
          <div class="heading text-center">
            <h3 style="margin-bottom: 0px;">Надежно!</h3>
          </div>
          <p style="margin-bottom: 30px;">Команда проекта Trip&amp;Sale рада представить пользователям услугу Гаранта. Более подробно с ней мы предлагаем ознакомиться на странце <a href="/info/security/">Гаранта</a>. Услуга вводится в качестве альфа версии - если пользователи проявят интерес к данной возможности - система будет зарегестрирована в зарубежной платежной системе для минимизации транзакционных издержек.</p>
          <div class="post-meta-wrap">
            <ul class="post-meta list-inline">
              <li><span class="ai ai-quill"></span>Trip&amp;Sale</li>
              <li><span class="ai ai-calendar"></span> 22/11/2014 </li> 
            </ul>
          </div>
        </div>
    </div>

    <!-- <div class="post-listing media" style="margin-top:80px">
      <div class="icon-callouts">
        <div class="col-md-3">
          <i class="ai ai-5x ai ai-users ai-circle-outline" style="margin-top:40px;"></i>
        </div>
      </div>
      <div class="col-md-9">
          <div class="heading text-center">
            <h3 style="margin-bottom: 0px;">100</h3>
          </div>
          <p style="margin-bottom: 30px;">Мы рады поздравить наш ресурс с первой сотней пользователей!<br>Стоит отметь колоссальные темпы роста - мы набрали 100 пользователей за 6 дней!</p>
          <div class="post-meta-wrap">
            <ul class="post-meta list-inline">
              <li><span class="ai ai-quill"></span>Trip&amp;Sale</li>
              <li><span class="ai ai-calendar"></span> 08/11/2014 </li> 
            </ul>
          </div>
        </div>
    </div> -->

    <div class="post-listing media" style="margin-top:80px">
      <div class="icon-callouts">
        <div class="col-md-3">
          <i class="ai ai-5x ai-compass ai-circle-outline" style="margin-top:40px;"></i>
        </div>
      </div>
      <div class="col-md-9">
          <div class="heading text-center">
            <h3 style="margin-bottom: 0px;">Быстрее, Дешевле!</h3>
          </div>
          <p style="margin-bottom: 30px;">Команда проекта Trip&amp;Sale рада представить пользователям сервис, который может быть полезен буквально каждому!<br>Если Вам необходимо привезти какой-нибудь товар из-за границы или Вы хотите подзаработать во время путешествия - этот ресурс для Вас!<br>Более подробно Вы сможете узнать на странице <a href="/info/faqs/">F.A.Q.</a></p>
          <div class="post-meta-wrap">
            <ul class="post-meta list-inline">
              <li><span class="ai ai-quill"></span>Trip&amp;Sale</li>
              <li><span class="ai ai-calendar"></span> 02/11/2014 </li> 
            </ul>
          </div>
        </div>
    </div>

</div>
      </div>
      <!-- pagination -->
      <div class="text-center">
        <ul class="pagination">
  <li class="disabled"><a href="#">&laquo;</a></li>
  <li class="active"><span>1<span class="sr-only">(current)</span></span></a></li>
</ul>
      </div> <!-- end blog-pagination -->
    </section> <!-- end posts -->
  </div> <!-- end row -->
</div> <!-- end container -->

  
    </div> <!-- end page-wrap -->
   
