{% load static %}
    <!-- FOR BODY background-noise: add 'bg-noise' to this div -->
    <div class="page-wrap bg0" style="margin-top: 0px;">

      <div class="page-header-wrap">
        <div class="container">
          <div class="page-header">


            <h1>Сравнение цен</h1>

          </div> <!-- end page-header -->
        </div> <!-- end container -->
      </div> <!-- end page-header-wrap -->

<div class="container content-wrap" style="padding-bottom: 40px;">
<section id="iphone">
<div class="bg0">
<div class="container content-wrap" style="padding-bottom: 0px;">
  <div class="row">
    <div class="col-md-6 text-center">
      <p class="lead">Цены на iPhone 6 в США</p>
    </div>
    <div class="col-sm-6 text-center">
      <p class="lead">Цены на iPhone 6 в России</p>
    </div>
  </div> <!-- end row -->
  <!-- wide spaced -->
  <div class="row space">
    <div class="col-sm-6 wow fadeInLeft" data-wow-duration="1.4s" data-wow-delay=".2s">
      <img src="{% static "img/compare/Price_apple-us.png" %}" alt="" class="img-responsive visible-md visible-lg no-border" style="margin-top: 42px;">
    </div>
    <div class="col-sm-6 wow fadeInRight" data-wow-duration="1.4s" data-wow-delay=".2s">
      <img src="{% static "img/compare/Price_apple-ru.png" %}" alt="" class="img-responsive visible-md visible-lg no-border" style="margin-top: 0px;">
    </div>
  </div> <!-- end row -->
</div> <!-- end page-wrap -->
</div>

</div>

<div class="bg2" style="padding-bottom: 0px;">
<div class="container content-wrap bg2">


  <!-- Philosophy -->

<section class="col-md-8 col-md-push-4 flush-right">
  <div class="row">
    <div class="col-md-6 text-center" style="padding-top: 30px;">
      <p class="lead">~34 тысячи рублей за версию с 16gb памяти.</p>
    </div>
    <div class="col-md-6 text-center" style="padding-top: 30px;">
      <p class="lead">~54 тысячи рублей за версию с 16gb памяти.</p>
    </div>
    <div class="col-md-12 text-center" style="padding-top: 0px;">
      <p class="lead">Разница 20000 рублей.</p>
    </div>
  </div> <!-- end row -->
  <hr>
  <div class="row">
    <div class="col-md-6 text-center" style="padding-top: 30px;">
      <p class="lead">~45 тысячи рублей за версию с 128gb памяти.</p>
    </div>
    <div class="col-md-6 text-center" style="padding-top: 30px;">
      <p class="lead">~70 тысяч рублей за версию с 128gb памяти.</p>
    </div>
    <div class="col-md-12 text-center" style="padding-top: 0px;">
      <p class="lead">Разница 25000 рублей.</p>
    </div>
  </div> <!-- end row -->
</section>

<aside class="col-md-4 col-md-pull-8">
  <div class="col-md-9">
    <div class="wow fadeInLeft no-border" data-wow-duration="1.4s" data-wow-delay=".2s">
      <img src="{% static "img/compare/iPhone1.png" %}" alt="" class="img-responsive visible-md visible-lg no-border">
    </div>
  </div>
</aside>
</div>
</div>
</section>

<p class="h3 fancy divider" style="background: #f4f4f4; height: 47px;padding-top: 10px;"><span class="ai ai-compass"></span></p>

<section id="macys">
<div class="bg0" style="padding-top: 70px;">
<div class="container content-wrap" style="padding-bottom: 40px;">

  <div class="row">
    <div class="col-md-12 text-center">
      <p class="lead">Сеть Macy’s традиционно является одним из самых дешевых мест по продаже брендовой одежды в США.</p>
      <p><br></p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6 text-center">
      <p class="lead">Цена на брендовую сумку GUESS в США</p>
    </div>
    <div class="col-sm-6 text-center">
      <p class="lead">Цена на брендовую сумку GUESS в России</p>
    </div>
  </div> <!-- end row -->
  <!-- wide spaced -->
  <div class="row space">
    <div class="col-sm-6 wow fadeInLeft" data-wow-duration="1.4s" data-wow-delay=".2s">
      <img src="{% static "img/compare/bags_us.png" %}" alt="" class="img-responsive visible-md visible-lg no-border" style="margin-top: 35px;">
    </div>
    <div class="col-sm-6 wow fadeInRight" data-wow-duration="1.4s" data-wow-delay=".2s">
      <img src="{% static "img/compare/bags_ru.png" %}" alt="" class="img-responsive visible-md visible-lg no-border" style="margin-top: 0px;">
    </div>
  </div> <!-- end row -->
</div> <!-- end page-wrap -->
</div>

<div class="bg2" style="padding-bottom: 0px;">
<div class="container content-wrap bg2">
  <div class="row">
    <div class="col-md-6 text-center" style="padding-top: 30px;">
      <p class="lead">GUESS Confidential Avery ~6100 рублей в США.</p>
    </div>
    <div class="col-md-6 text-center" style="padding-top: 30px;">
      <p class="lead">GUESS Confidential Avery ~12000 рублей в России.</p>
    </div>
    <div class="col-md-12 text-center" style="padding-top: 0px;">
      <hr style="padding-bottom: 20px">
      <p class="lead">Нетрудно заметить, как сильно разнятся цены на сумки одного и того же бренда в США и России.</p>
      <div class="row">
      <section class="col-md-8 col-md-offset-2 group">
        <div class="panel-group" id="accordion">
          <div class="panel panel-default">
            <a class="panel-heading" data-toggle="collapse" data-parent="#accordion" href="#collapse1">
              <h4 class="panel-title">
                Почему это так?
              </h4>
            </a>
            <div id="collapse1" class="panel-collapse collapse">
              <div class="panel-body">
                <p>Дело в том, что американские бренды в США стоят очень дешево в сравнении с Россией, т.к. не тратятся средства на транспортировку, дополнительную аренду и прочие комиссии... <br>К примеру, известные поло US Polo ASSN на Time Square можно приобрести за смешные 20$, а не по 3000 рублей, как они стоят в России.</p>
                <p>Разница в цене может быть в 2, в 3 и даже в 4 раза!</p>
              </div>
            </div>
          </div>
        </div>
       </section>
       </div>
      <p class="lead">Но и это не все! Например, та самая сеть Macy's предоставляет дополнительную скидку 10%, если Вы предъявите свой загран. паспорт.</p>
      <!--<p class="lead">Найди свои любимые бренды и сравни сам на <a href="http://www1.macys.com" target="_blank">Macy's</a>!</p>-->
    </div>
  </div> <!-- end row -->
</div>
</div>
</section>

<p class="h3 fancy divider" style="background: #f4f4f4; height: 47px;padding-top: 10px;"><span class="ai ai-compass"></span></p>

<section id="prot">
<div class="bg0" style="padding-top: 70px;">
<div class="container content-wrap bg0" style="padding-bottom: 40px;">

  <div class="row">
    <div class="col-md-6 text-center">
      <p class="lead">Цены на протеин Optimum Nutrition в США</p>
    </div>
    <div class="col-sm-6 text-center">
      <p class="lead">Цены на протеин Optimum Nutrition в России</p>
    </div>
  </div> <!-- end row -->
  <!-- wide spaced -->
  <div class="row space">
    <div class="col-sm-6 wow fadeInLeft" data-wow-duration="1.4s" data-wow-delay=".2s">
      <img src="{% static "img/compare/prot_us.png" %}" alt="" class="img-responsive visible-md visible-lg no-border" style="margin-top: 50px;">
    </div>
    <div class="col-sm-6 wow fadeInRight" data-wow-duration="1.4s" data-wow-delay=".2s">
      <img src="{% static "img/compare/prot_ru.png" %}" alt="" class="img-responsive visible-md visible-lg no-border" style="margin-top: 0px;">
    </div>
  </div> <!-- end row -->
</div> <!-- end page-wrap -->
</div>

<div class="bg2" style="padding-bottom: 0px;">
<div class="container content-wrap bg2">
  <div class="row">
    <div class="col-md-6 text-center" style="padding-top: 30px;">
      <p class="lead">~3300 рублей за протеин в США.</p>
    </div>
    <div class="col-md-6 text-center" style="padding-top: 30px;">
      <p class="lead">~5800 рублей за протеин в России.</p>
    </div>
    <div class="col-md-12 text-center" style="padding-top: 0px;">
      <p class="lead">Разница 2500 рублей. (75% цены для данного товара)</p>
    </div>
  </div> <!-- end row -->
</div>
</div>
</section>

<section id="macys">
<div class="bg0" style="padding-top: 70px;">
<div class="container content-wrap bg0" style="padding-bottom: 40px;">

  <div class="row">
    <div class="col-md-12 text-center">
      <p class="lead">Примеров - масса.</p>
      <p class="lead">Это могут быть вещи, которых вовсе нет в России (витамины из США);<br>Может быть что-то сезонное (распродажи брендовой одежды в Европе).</p>
      <p class="lead">Услуги сервиса ограничиваются лишь Вашим воображением.</p>
      <p><br></p>
    </div>
  </div>

</div>
</div>
</section>

</div>

</div>




