<!doctype html>
<html lang="en" id="top">

  <head>
    
    <meta charset="UTF-8">
    <!-- TITLE TAG - text for browser tabs -->
    <title>Trip&Sale &there4; Сравнение цен</title>

    <!-- RESPONSIVE VIEWPORT -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- FAVICON -->
    <link rel="icon" type="image/png" href="../assets/img/favicon.png" />

    <!-- STYLESHEETS -->
    <!-- Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Source+Code+Pro|Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <!-- CORE DEFAULT Stylesheet (theme scheme) - CHANGE THEME SCHEME HERE -->
    <link href="../assets/css/global-style_light--blue1.css" rel="stylesheet" >    
    

        

    
    
  </head>

  <body>
    
    <!-- Extra Header (optional) -->
<!-- TO USE, follow these steps:
  1. REMOVE the class "header-hidden" from the FIRST div below.
  2. ADD ONE header size class to the same div.
     Options are:
       header-small
       header-medium
       header-large
       header-xl
  3. Decide which content you'd like in the extra header as seen in demo from the list below. 
     Remove the class "header-hidden" from each list that you want.
     Edit each list as you'd like. 
 -->
<header id="header" class="header slide animated" role="banner" style="background-color: rgba(244,244,244,.9);">
  <div class="container">
    <div class="row" style="background-color: rgba(244,244,244,.0);">
    
      <div class="navbar-header">
        
        <!-- TOGGLE BUTTON for mobile -->
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Navigation</span>
          <span class="ai ai-menu ai-2x ai-primary"></span>
        </button>

        <!-- sitewide logo LINK TO ROOT INDEX (home) PAGE -->
        <a href="../index1.html" class="navbar-brand">
          <!-- sitewide LOGO HERE (as text, image, or both) -->
          <span class="logo-top">
            Trip<span class="ai ai-compass"></span>Sale
          </span>
          <!-- Hidden text in an h1 tag for SEO purposes -->
          <h1 class="text-hide">Trip&Sale</h1>        
        </a> <!-- end site-wide logo link -->

      </div> <!-- end navbar-header -->

      
      </div> <!-- end navbar wrapper -->
    </div> <!-- end row -->
  </div> <!-- end container -->
</header>
  
    <!-- FOR BODY background-noise: add 'bg-noise' to this div -->
    <div class="page-wrap" style="background-image: url('../assets/img/bg-white.png')">
      
      <div class="page-header-wrap">
        <div class="container">
          <div class="page-header"> 

            
            <h1>Сравнение цен</h1>
            
          </div> <!-- end page-header -->
        </div> <!-- end container -->
      </div> <!-- end page-header-wrap -->

<div class="container content-wrap" style="padding-bottom: 40px;">
<section id="iphone">
<div style="background-image: url('../assets/img/bg-white.png')">    
<div class="container content-wrap" style="padding-bottom: 0px;">
  <div class="row">
    <div class="col-md-6 text-center">
      <p class="lead">Цены на iPhone 6 в США</p>
    </div>
    <div class="col-sm-6 text-center">
      <p class="lead">Цены на iPhone 6 в России</p>
    </div>
  </div> <!-- end row -->
  <!-- wide spaced -->
  <div class="row space">
    <div class="col-sm-6 wow fadeInLeft" data-wow-duration="1.4s" data-wow-delay=".2s">
      <img src="../assets/img/Price_apple-us.png" alt="" class="img-responsive visible-md visible-lg no-border" style="margin-top: 42px;">
    </div>
    <div class="col-sm-6 wow fadeInRight" data-wow-duration="1.4s" data-wow-delay=".2s">
      <img src="../assets/img/Price_apple-ru.png" alt="" class="img-responsive visible-md visible-lg no-border" style="margin-top: 0px;">
    </div>
  </div> <!-- end row -->
</div> <!-- end page-wrap -->
</div>

</div>

<div style="background-image: url('../assets/img/bg-white2.png'); padding-bottom: 0px;">   
<div class="container content-wrap" style="background-image: url('../assets/img/bg-white2.png'); padding-bottom: 40px;">
  
  
  
  
  <!-- Philosophy -->

<section class="col-md-8 col-md-push-4 flush-right">
  <div class="row">
    <div class="col-md-6 text-center" style="padding-top: 30px;">
      <p class="lead">~32 тысячи рублей за версию с 16gb памяти.</p>
    </div>
    <div class="col-md-6 text-center" style="padding-top: 30px;">
      <p class="lead">~40 тысяч рублей за версию с 16gb памяти.</p>
    </div>
    <div class="col-md-12 text-center" style="padding-top: 0px;">
      <p class="lead">Разница 8000 рублей.</p>
    </div>
  </div> <!-- end row -->
  <hr>
  <div class="row">
    <div class="col-md-6 text-center" style="padding-top: 30px;">
      <p class="lead">~43 тысячи рублей за версию с 128gb памяти.</p>
    </div>
    <div class="col-md-6 text-center" style="padding-top: 30px;">
      <p class="lead">~53 тысяч рублей за версию с 128gb памяти.</p>
    </div>
    <div class="col-md-12 text-center" style="padding-top: 0px;">
      <p class="lead">Разница 10000 рублей.</p>
    </div>
  </div> <!-- end row -->
</section>

<aside class="col-md-4 col-md-pull-8">
  <div class="col-md-9">
    <div class="wow fadeInLeft no-border" data-wow-duration="1.4s" data-wow-delay=".2s">
      <img src="../assets/img/iPhone1.png" alt="" class="img-responsive visible-md visible-lg no-border">
    </div>
  </div>
</aside>
</div>
</div>
</section>

<p class="h3 fancy divider" style="background: #f4f4f4; height: 47px;padding-top: 10px;"><span class="ai ai-compass"></span></p>

<section id="macys">
<div style="background-image: url('../assets/img/bg-white.png'); padding-top: 70px;">    
<div class="container content-wrap" style="padding-bottom: 40px;">

  <div class="row">
    <div class="col-md-12 text-center">
      <p class="lead">Сеть Macy’s традиционно является одним из самых дешевых мест по продаже брендовой одежды в США.</p>
      <p><br></p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6 text-center">
      <p class="lead">Цена на брендовую сумку GUESS в США</p>
    </div>
    <div class="col-sm-6 text-center">
      <p class="lead">Цена на брендовую сумку GUESS в России</p>
    </div>
  </div> <!-- end row -->
  <!-- wide spaced -->
  <div class="row space">
    <div class="col-sm-6 wow fadeInLeft" data-wow-duration="1.4s" data-wow-delay=".2s">
      <img src="../assets/img/bags_us.png" alt="" class="img-responsive visible-md visible-lg no-border" style="margin-top: 35px;">
    </div>
    <div class="col-sm-6 wow fadeInRight" data-wow-duration="1.4s" data-wow-delay=".2s">
      <img src="../assets/img/bags_ru.png" alt="" class="img-responsive visible-md visible-lg no-border" style="margin-top: 0px;">
    </div>
  </div> <!-- end row -->
</div> <!-- end page-wrap -->
</div>

<div style="background-image: url('../assets/img/bg-white2.png'); padding-bottom: 0px;">   
<div class="container content-wrap" style="background-image: url('../assets/img/bg-white2.png');">
  <div class="row">
    <div class="col-md-6 text-center" style="padding-top: 30px;">
      <p class="lead">GUESS Confidential Avery ~5900 рублей в США.</p>
    </div>
    <div class="col-md-6 text-center" style="padding-top: 30px;">
      <p class="lead">GUESS Confidential Avery ~12000 рублей в России.</p>
    </div>
    <div class="col-md-12 text-center" style="padding-top: 0px;">
      <hr style="padding-bottom: 20px">
      <p class="lead">Нетрудно заметить, как сильно разнятся цены на сумки одного и того же бренда в США и России.</p>
      <div class="row">
      <section class="col-md-8 col-md-offset-2 group">
        <div class="panel-group" id="accordion">
          <div class="panel panel-default">
            <a class="panel-heading" data-toggle="collapse" data-parent="#accordion" href="#collapse1">
              <h4 class="panel-title">
                Почему это так?
              </h4>
            </a>
            <div id="collapse1" class="panel-collapse collapse">
              <div class="panel-body">
                <p>Дело в том, что американские бренды в США стоят очень дешево в сравнении с Россией, т.к. не тратятся средства на транспортировку, дополнительную аренду и прочие комиссии... <br>К примеру, известные поло US Polo ASSN на Time Square можно приобрести за смешные 17$, а не по 3000 рублей, как они стоят в России.</p>
                <p>Разница в цене может быть в 2, в 3 и даже в 4 раза!</p>
              </div>
            </div>
          </div>
        </div>
       </section>
       </div>
      <p class="lead">Но и это не все! Например, та самая сеть Macy's предоставляет дополнительную скидку 10%, если Вы предъявите свой загран. паспорт.</p>
      <!--<p class="lead">Найди свои любимые бренды и сравни сам на <a href="http://www1.macys.com" target="_blank">Macy's</a>!</p>-->
    </div>
  </div> <!-- end row -->
</div>
</div>
</section>

<p class="h3 fancy divider" style="background: #f4f4f4; height: 47px;padding-top: 10px;"><span class="ai ai-compass"></span></p>

<section id="prot">
<div style="background-image: url('../assets/img/bg-white.png'); padding-top: 70px;">    
<div class="container content-wrap" style="padding-bottom: 40px;">

  <div class="row">
    <div class="col-md-6 text-center">
      <p class="lead">Цены на протеин Optimum Nutrition в США</p>
    </div>
    <div class="col-sm-6 text-center">
      <p class="lead">Цены на протеин Optimum Nutrition в России</p>
    </div>
  </div> <!-- end row -->
  <!-- wide spaced -->
  <div class="row space">
    <div class="col-sm-6 wow fadeInLeft" data-wow-duration="1.4s" data-wow-delay=".2s">
      <img src="../assets/img/prot_us.png" alt="" class="img-responsive visible-md visible-lg no-border" style="margin-top: 50px;">
    </div>
    <div class="col-sm-6 wow fadeInRight" data-wow-duration="1.4s" data-wow-delay=".2s">
      <img src="../assets/img/prot_ru.png" alt="" class="img-responsive visible-md visible-lg no-border" style="margin-top: 0px;">
    </div>
  </div> <!-- end row -->
</div> <!-- end page-wrap -->
</div>

<div style="background-image: url('../assets/img/bg-white2.png'); padding-bottom: 0px;">   
<div class="container content-wrap" style="background-image: url('../assets/img/bg-white2.png');">
  <div class="row">
    <div class="col-md-6 text-center" style="padding-top: 30px;">
      <p class="lead">~3000 рублей за протеин в США.</p>
    </div>
    <div class="col-md-6 text-center" style="padding-top: 30px;">
      <p class="lead">~4800 рублей за протеин в России.</p>
    </div>
    <div class="col-md-12 text-center" style="padding-top: 0px;">
      <p class="lead">Разница 1800 рублей. (60% цены для данного товара)</p>
    </div>
  </div> <!-- end row -->
</div>
</div>
</section>

<section id="macys">
<div style="background-image: url('../assets/img/bg-white.png'); padding-top: 70px;">    
<div class="container content-wrap" style="padding-bottom: 40px;">

  <div class="row">
    <div class="col-md-12 text-center">
      <p class="lead">Примеров - масса.</p>
      <p class="lead">Это могут быть вещи, которых вовсе нет в России (витамины из США);<br>Может быть что-то сезонное (распродажи брендовой одежды в Европе).</p>
      <p class="lead">Услуги сервиса ограничиваются лишь вашим воображением.</p>
      <p><br></p>
    </div>
  </div>

</div>
</div>
</section>

</div>

</div>
    
    
      
<!-- FOOTER -->
<footer class="site-footer footer" style="background-image: url('../assets/img/bg-blue-dark.png')">
  <div class="container">

    <div class="row" style="color: White;">

      <div class="col-md-8 site-footer--col">
        <div class="headline site-footer--heading text-center" style="margin-bottom: 10px;">
          <h3 style="color: White;">Trip&Sale</h3>
        </div>
        <div class="row">
          <div class="col-md-3 col-md-offset-1 text-center">
            <a href="../blocks/contact-form.html" style="font-size: 13pt; color: rgba(255,255,255,.90);">Ваши предложения</a>
          </div>
          <div class="col-md-3 col-md-offset-4 text-center">
            <a href="../contact/contact-minimalist.html" style="font-size: 13pt; color: rgba(255,255,255,.90);">Контакты</a>
          </div>
        </div>
      <div class="row">
        <div class="container-fluid">
          <div <div class="text-center" style="color: rgba(255,255,255,.85);">
            <div class="features--feature-wrap" style="margin-top: 0px;">
              <i class="ai ai-4x ai-compass"></i>
            </div>
          </div>
        </div>
      </div>
       <div class="row">
          <div class="col-md-3 col-md-offset-1 text-center">
            <a href="faqs.html" style="font-size: 13pt; color: rgba(255,255,255,.90);">F.A.Q</a>
          </div>
          <div class="col-md-3 col-md-offset-4 text-center">
            <a href="../security-service/security.html" style="font-size: 13pt; color: rgba(255,255,255,.90);">Гарант</a>
          </div>
        </div>
      </div> <!-- end col -->
      

      <div class="col-md-4 site-footer--col">        
        <div class="headline site-footer--heading text-center" style="margin-bottom: 10px;">
          <h3 style="color: White;">&nbsp;</h3>
        </div>
        <div class="row text-center">
          <a href="../blog/blog.html" style="font-size: 11pt; color: rgba(255,255,255,.90);">Новости</a>
        </div>
        <div class="row text-center">
          <a href="about.html" style="font-size: 11pt; color: rgba(255,255,255,.90);">О нас</a>
        </div>
        <div class="row text-center">
          <a href="#" style="font-size: 11pt; color: rgba(255,255,255,.90);">Правила</a>
        </div>
        <div class="row text-center">
          <a href="#" style="font-size: 11pt; color: rgba(255,255,255,.90);">Оферта</a>
        </div>


      </div> <!-- end col -->
    </div> <!-- end row -->

    <!-- divider -->
    <div class="row">
      <div class="col-xs-12">
        <hr class="double--inverse" style="margin-top: 10px">
      </div>
    </div> <!-- end row -->

    <!-- meta row -->
    <div class="row">
      <div class="site-footer--meta">
        <span class="col-xs-4 col-xs-offset-4 text-center">
          <a href="#top" title="Scroll to Top" data-toggle="smoothScroll"><i class="ai ai-2x ai-arrow-up3"></i></a>
        </span>
        <div class="col-xs-4 text-right">
          <ul class="list-inline icons--social-media">
  <li class="tooltip-link" data-toggle="tooltip" data-placement="top" title="VK"><a href="#"><span class="ai ai-2x ai-vk" style="color: #4f90bd"></span></a></li>
  <li class="tooltip-link" data-toggle="tooltip" data-placement="top" title="Facebook"><a href="#"><span class="ai ai-2x ai-facebook2" style="color: #4f90bd"></span></a></li>
</ul>
        </div>
      </div> <!-- end meta -->
    </div> <!-- end row -->

  </div>  <!-- end container -->

  
</footer>

    
  
    <!-- SCRIPTS -->
    <!-- jQuery first -->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  
    <!-- Global Scripts -->
    
    <script src="../assets/js/global-adapto.min.js"></script>
    <script src="../assets/js/global-bootstrap.min.js"></script>
    
    <script src="../assets/js/wow.min.js"></script>
    <script>
      new WOW().init();
    </script>
  
    
    
    
    
  </body>
</html>