 <!-- FOR BODY background-noise: add 'bg-noise' to this div -->
    <div class="page-wrap bg0">

      <div class="page-header-wrap">
        <div class="container">
          <div class="page-header">


            <h1>Контакты</h1>

          </div> <!-- end page-header -->
        </div> <!-- end container -->
      </div> <!-- end page-header-wrap -->

    <!-- FOR BODY background-noise: add 'bg-noise' to this div -->




<div class="container content-wrap" >
  <div class="well">
    <div class="row">
      <div class="col-sm-12">
        <div class="col-sm-4">
          <div class="row">
          <div class="col-sm-12 text-center">
            <h2>
              <span class="ai ai-globe ai-circle"></span> <br><span class="h4 f300">По вопросам сотрудничества</span>
            </h2>
            <address>
              <span style="font-size: 15pt;"><a href="mailto:cooperation@tripnsale.com">cooperation@tripnsale.com</a></span>
            </address>
          </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="row">
          <div class="col-sm-12 text-center">
            <h2>
              <span class="ai ai-newspaper ai-circle"></span> <br><span class="h4 f300">По вопросам рекламы</span>
            </h2>
            <address>
              <span style="font-size: 15pt;"><a href="mailto:commercial@tripnsale.com">commercial@tripnsale.com</a></span>
            </address>
          </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="row">
          <div class="col-sm-12 text-center">
            <h2>
              <span class="ai ai-envelope ai-circle"></span> <br><span class="h4 f300">Прочие вопросы</span>
            </h2>
            <address>
              <span style="font-size: 15pt;"><a href="mailto:info@tripnsale.com">info@tripnsale.com</a></span>
            </address>
          </div>
          </div>
        </div>
      </div>
    </div> <!-- end row -->
  </div> <!-- end well -->
</div> <!-- end container -->


    </div> <!-- end page-wrap -->



