
<!-- FOR BODY background-noise: add 'bg-noise' to this div -->
   <div class="page-wrap bg2">

     <div class="page-header-wrap">
       <div class="container">
         <div class="page-header">


           <h1>Вопрос - ответ</h1>

         </div> <!-- end page-header -->
       </div> <!-- end container -->
     </div> <!-- end page-header-wrap -->



<div class="container content-wrap" style="padding-bottom: 30px;">
<div class="row">
 <section class="col-md-9 group">
   <div class="headline">
     <h3>Часто задаваемые вопросы</h3>
   </div>
   <div class="panel-group" id="accordion">
     <div class="panel panel-default">
       <a class="panel-heading" data-toggle="collapse" data-parent="#accordion" href="#collapse1">
         <h4 class="panel-title">
           Что это за сервис?
         </h4>
       </a>
       <div id="collapse1" class="panel-collapse collapse in">
         <div class="panel-body">
           <p>Сервис Trip&Sale создан для того, чтобы каждый мог приобретать товар по его "мировой цене", без увеличения стоимости от конвертации валюты или налогов конкретной страны.</p>
           <p>Подробнее о ценовой политике можно узнать на странице сравнения цен.</p>
           <a href="../compare/" class="btn btn-sm btn-info">Сравнение цен</a>
         </div>
       </div>
     </div>
     <div class="panel panel-default">
       <a class="panel-heading" data-toggle="collapse" data-parent="#accordion" href="#collapse2">
         <h4 class="panel-title">
           За счет чего я могу приобрести товар, находясь в России по расценкам страны изготовителя?
         </h4>
       </a>
       <div id="collapse2" class="panel-collapse collapse">
         <div class="panel-body">
          <p>За счет путешественников, которые готовы доставить товар из нужной Вам страны.</p>
         </div>
       </div>
     </div>
     <div class="panel panel-default">
       <a class="panel-heading" data-toggle="collapse" data-parent="#accordion" href="#collapse3">
         <h4 class="panel-title">
           Как сервис Trip&Sale может помочь мне приобрести товар дешевле?
         </h4>
       </a>
       <div id="collapse3" class="panel-collapse collapse">
         <div class="panel-body">
          <p>Сервис Trip and Sale является связующим звеном между путешественниками, которые регистрируют свои маршруты и заказчиками, которые оставляют заявки на доставку того или иного товара.</p>
         </div>
       </div>
     </div>
       <div class="panel panel-default">
       <a class="panel-heading" data-toggle="collapse" data-parent="#accordion" href="#collapse4">
         <h4 class="panel-title">
           Сервис бесплатный?
         </h4>
       </a>
       <div id="collapse4" class="panel-collapse collapse">
         <div class="panel-body">
           <p>По умолчанию сервис бесплатный.</p>
           <p>Стоимость заказа будет зависеть на прямую от того, на сколько Вы договоритесь с путешественником. Это может быть и просто цена товара, но не забывайте, что доставщики вряд ли откажутся от вознаграждения со стороны заказчика.</p>
           <p>В случае организации сделки напрямую между путешественником и заказчиком оплата производится любым путем о котором договорятся пользователи.</p>
           <p>Платной является лишь услуга "Гаранта". Данная услуга не является обязательной для совершения сделки и используется пользователями на свое усмотрение.</p>
         </div>
       </div>
     </div>
   <div class="headline">
     <h3>Гарант</h3>
   </div>
     <div class="panel panel-default">
       <a class="panel-heading" data-toggle="collapse" data-parent="#accordion" href="#collapse5">
         <h4 class="panel-title">
           Что такое "Гарант"?
         </h4>
       </a>
       <div id="collapse5" class="panel-collapse collapse">
         <div class="panel-body">
           <p>Гарант это услуга по подстраховке клиентов, которую предоставляет сервис Trip&Sale.</p>
           <p>При совершении сделки Гарант становится посредником между доставщиком и заказчиком.</p>
         </div>
       </div>
     </div>
     <div class="panel panel-default">
       <a class="panel-heading" data-toggle="collapse" data-parent="#accordion" href="#collapse6">
         <h4 class="panel-title">
           В каком случае рекомендуется пользоваться Гарантом?
         </h4>
       </a>
       <div id="collapse6" class="panel-collapse collapse">
         <div class="panel-body">
           <p>Сервисом Гаранта следует воспользоваться, если:</p>
           <ul>
             <li>
               <p>Вы путешественник и не доверяете заказчику.</p>
               <p>Например, заказчик просит доставить Вас 10 ноутбуков. Вы приобрели их, но после приобретения Вами товара, заказчик обрывает сделку со своей стороны. Т.е. сообщает о том, что он отказывается от своего заказа. Что Вам делать теперь с ноутбуками - непонятно. Оформив сделку через Гаранта Вы можете смело приобретать товар - вся сумма сделки гарантированно окажется у вас.</p>
             </li>
             <li>
               <p>Вы заказчик и не доверяете путешественнику.</p>
               <p>Например, при передаче заказа оказывается, что путешественник преднамеренно нарушил договоренность и привез товар поврежденным. Оформив сделку через Гаранта Вы можете смело приобретать товар - вся сумма сделки в случае нарушения со стороны заказчика гарантированно вернется вам.</p>
             </li>
           </ul>
         </div>
       </div>
     </div>
     <div class="panel panel-default">
       <a class="panel-heading" data-toggle="collapse" data-parent="#accordion" href="#collapse7">
         <h4 class="panel-title">
           Какова схема при оформлении сделки через Гаранта?
         </h4>
       </a>
       <div id="collapse7" class="panel-collapse collapse">
         <div class="panel-body">
           <p>При оформлении сделки через услугу Гаранта:</p>
           <ol>
             <li>Заказчик и путешественник договариваются о цене (цена товара + награждение для доставщика), месте передачи и сроках самостоятельно через диалоги внутри сайта tripnsale.com.</li>
             <li>В диалоге на сайте между путешественником и заказчиком нажимается кнопка "Оформить через гаранта". После этого создается конференц-диалог между Гарантом, путешественником и заказчиком.</li>
             <li>Гаранту сообщаются условия сделки. (Цена, место передачи товара и сроки)</li>
             <li>Заказчик переводит деньги на счет гаранта. После этого сделка регламентируется как &laquo;Исполняемая&raquo;, и вернуть деньги себе путешественник может лишь при несоблюдении условий доставщиком.</li>
             <li>Гарант сообщает о поступлении денежных средств со стороны покупателя, и путешественник с данного момента может покупать оговоренный заказ с уверенностью получения денежных средств за заказ.</li>
             <li>После передачи товара оба лица отмечают на сайте (в конференц-диалоге с Гарантом) о том, что у них нет претензий друг к другу. Настоятельно рекомендуем делать это в присутствии друг друга во время передачи заказа (оба лица заинтересованы в этом).</li>
             <li>После того, как оба лица подтвердили, что сделка совершена, Гарант переводит деньги на счет путешественника. (Доставщику важно удостовериться, что путешественник сообщил о получении товара)</li>
           </ol>
         </div>
       </div>
     </div>
     <div class="panel panel-default">
       <a class="panel-heading" data-toggle="collapse" data-parent="#accordion" href="#collapse8">
         <h4 class="panel-title">
           Какие меры может принять Гарант?
         </h4>
       </a>
       <div id="collapse8" class="panel-collapse collapse">
         <div class="panel-body">
           <p>В случае оформлении сделки через услугу Гаранта</p>
           <ol>
             <li>Сервис переводит все средства указанные в сделке на счет путешественника, если сделка отмечена, как &laquo;Исполняемая&raquo; (заказчик перевел деньги на счет гаранта), но решил отказаться.</li>
             <li>Сервис возвращает все средства указанные в сделке на счет заказчика, если сделка отмечена, как &laquo;Исполняемая&raquo; (заказчик перевел деньги на счет гаранта), но путешественник нарушил условия осуществления сделки или отказался.</li>
             <li>Гарант оставляет за собой право решения спорных ситуаций при участии обоих лиц.</li>
           </ol>
         </div>
       </div>
     </div>
     <div class="panel panel-default">
       <a class="panel-heading" data-toggle="collapse" data-parent="#accordion" href="#collapse9">
         <h4 class="panel-title">
           Какова стоимость за пользование услугой Гаранта?
         </h4>
       </a>
       <div id="collapse9" class="panel-collapse collapse">
         <div class="panel-body">
           <p>За пользование услугой сервис удерживает 1.5% от стоимости сделки.</p>
         </div>
       </div>
   </div> <!-- end panel-group -->
   <div class="headline">
     <h3>Вопросы по работе сервиса</h3>
   </div>
     <div class="panel panel-default">
       <a class="panel-heading" data-toggle="collapse" data-parent="#accordion" href="#collapse10">
         <h4 class="panel-title">
           Как я могу добавить поездку/заказ?
         </h4>
       </a>
       <div id="collapse10" class="panel-collapse collapse">
         <div class="panel-body">
           <ul>
             <li>Для добавления своей поездки/заказа в систему необходимо нажать кнопку "Добавить" в верхнем меню.</li>
             <li>На следующей странице необходимо описать подробности Вашей поездки/заказа.</li>
             <li>Сразу после добавления объявления - оно будет размещено на соответствующей странице со списками поездок/заказов.</li>
           </ul>
         </div>
       </div>
     </div>
     <div class="panel panel-default">
       <a class="panel-heading" data-toggle="collapse" data-parent="#accordion" href="#collapse11">
         <h4 class="panel-title">
           Как я могу просматривать актуальные поездки заказы?
         </h4>
       </a>
       <div id="collapse11" class="panel-collapse collapse">
         <div class="panel-body">
           <p>Для просмотра актуальных объявлений необходимо выбрать в верхней панели или на главной странице соответствующий раздел.</p>
           <div class="row">
             <div class="col-md-3">
               <a href="#" style="font-size: 13pt; color:">Список поездок</a>
              </div>
              <div class="col-md-3">
                <a href="#" style="font-size: 13pt; color:">Список заказов</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="panel panel-default">
        <a class="panel-heading" data-toggle="collapse" data-parent="#accordion" href="#collapse12">
          <h4 class="panel-title">
            Какие сроки на доставку?
          </h4>
        </a>
        <div id="collapse12" class="panel-collapse collapse">
          <div class="panel-body">
            <p>То, на сколько быстро Вам доставят товар - напрямую зависит от сроков поездки выбранного Вами путешественника.</p>
            <p>Это может быть буквально на следующий день!</p>
          </div>
        </div>
      </div>
      <div class="panel panel-default">
        <a class="panel-heading" data-toggle="collapse" data-parent="#accordion" href="#collapse13">
          <h4 class="panel-title">
            Мне привезли испорченный товар, что делать?
          </h4>
        </a>
        <div id="collapse13" class="panel-collapse collapse">
          <div class="panel-body">
            <p>При оформлении сделки через Гаранта - мы вернем Вам полную стоимость, если товар был испорчен по вине доставителя!</p>
            <p>В случае оформления сделки без использования услуги Гаранта все конфликтные ситуации решаются пользователями напрямую.</p>
          </div>
        </div>
      </div>
      <div class="panel panel-default">
        <a class="panel-heading" data-toggle="collapse" data-parent="#accordion" href="#collapse14">
          <h4 class="panel-title">
            Я уже приобрел товар, но покупатель неожиданно решил отказаться, что делать?
          </h4>
        </a>
        <div id="collapse14" class="panel-collapse collapse">
          <div class="panel-body">
            <p>При оформлении сделки через Гаранта - мы вернем Вам полную стоимость, если сделка была отмечена, как &laquo;Исполняемая&raquo;! (т.е. путешественник и заказчик оговорили условия и заказчик перевел деньги на счет Гаранта)</p>
            <p>При оформлении сделки с помощью услуги Гаранта, сервис Trip&Sale рекомендует приобретать товар только после перевода денежных средств покупателем на счет сервиса (о чем будет сообщено Гарантом в соответствующем диалоге).
           <p>В случае оформления сделки без использования услуги Гаранта все конфликтные ситуации решаются пользователями напрямую.</p>
         </div>
       </div>
     </div>
 
     <div class="headline">
     <h3>&nbsp;</h3>
    </div>
      <div class="panel panel-default">
        <a class="panel-heading" data-toggle="collapse" data-parent="#accordion" href="#collapse100">
          <h4 class="panel-title">
            Где я могу найти ответы на остальные вопросы?
          </h4>
        </a>
        <div id="collapse100" class="panel-collapse collapse">
          <div class="panel-body">
            <ul>
              Мы с радостью ответим на любые Ваши вопросы, относительно сервиса Trip&Sale по электронной почте <a href="mailto:info@tripnsale.com">info@tripnsale.com</a>
           </ul>
         </div>
       </div>
     </div>
 </section>
 <aside class="col-md-3">
   <div class="sidebar-right">
  <!-- Connect -->
  <div class="sidebar-group">
   <nav id="affix-nav" class="hidden-sm hidden-xs">
     <ul class="nav sidebar-nav affix" data-spy="affix" data-offset-top="100" data-offset-bottom="275">
       <div class="headline">
         <h3>Контакты</h3>
       </div>
         <address>
           <ins class="text-center">По вопросам сотрудничества</ins>
           <div style="margin-top:5px"> <span class="ai ai-globe ai-circle" style="margin-right: 5px;"></span><a href="mailto:cooperation@tripnsale.com">cooperation@tripnsale.com</a></div>
          </address>
          <address>
           <ins class="text-center"> По вопросам рекламы</ins>
            <div style="margin-top:5px"> <span class="ai ai-newspaper ai-circle" style="margin-right: 5px;"></span><a href="mailto:commercial@tripnsale.com">commercial@tripnsale.com</a></div>
          </address>
          <address>
            <ins class="text-center">Прочие вопросы</ins>
            <div style="margin-top:5px"> <span class="ai ai-mail ai-circle" style="margin-right: 5px;"></span><a href="mailto:info@tripnsale.com">info@tripnsale.com</a></div>
          </address>
      </ul>
  </nav>
  </div> <!-- end sidebar-group -->

</div> <!-- end sidebar-right -->
</aside>
</div> <!-- end row -->
<div class="clearfix"></div>
</div> <!-- end container -->


    </div> <!-- end page-wrap -->
<script>
  $(document).ready(function() {
     $('.sidebar-nav.affix').affix({
        offset: {
          top: function () {
            return (this.top = $('.header').outerHeight(true));
          },
          bottom: function () {
            return (this.bottom = $('.footer').outerHeight(true));
          }
        }
      });
  });
</script>


