
<!-- FOR BODY background-noise: add 'bg-noise' to this div -->
   <div class="page-wrap bg2">

     <div class="page-header-wrap">
       <div class="container">
         <div class="page-header">


           <h1>Q & A</h1>

         </div> <!-- end page-header -->
       </div> <!-- end container -->
     </div> <!-- end page-header-wrap -->
<div class="container content-wrap" style="padding-bottom: 30px;">
<div class="row">
 <section class="col-md-9 group">
   <div class="headline">
     <h3>F.A.Q.</h3>
   </div>
   <div class="panel-group" id="accordion">
     <div class="panel panel-default">
       <a class="panel-heading" data-toggle="collapse" data-parent="#accordion" href="#collapse1">
         <h4 class="panel-title">
           What is this service for?
         </h4>
       </a>
       <div id="collapse1" class="panel-collapse collapse in">
         <div class="panel-body">
           <p><b>Trip&Sale</b> is created for people who would like to buy products and wares at their “world prices”, without overpayment through the currency conversion or taxes. Besides You can acquire exclusive souvenirs from any foreign country (Russian doll – Matryoshka, or Blue Thai Tea, for example). Surprise your friends and family with a rare and unusual gift!</p>
         </div>
       </div>
     </div>
     <div class="panel panel-default">
       <a class="panel-heading" data-toggle="collapse" data-parent="#accordion" href="#collapse2">
         <h4 class="panel-title">
           How can I, living, for example, in the USA, get a product from another country without overpaying?
         </h4>
       </a>
       <div id="collapse2" class="panel-collapse collapse">
         <div class="panel-body">
          <p>You can get it with the help of the travelers and tourists from your country who can buy the product in another country during their journey and then deliver it to you.</p>
         </div>
       </div>
     </div>
     <div class="panel panel-default">
       <a class="panel-heading" data-toggle="collapse" data-parent="#accordion" href="#collapse3">
         <h4 class="panel-title">
           How Trip&Sale can help me to buy something at a lower price?
         </h4>
       </a>
       <div id="collapse3" class="panel-collapse collapse">
         <div class="panel-body">
          <p>Our service is a sort of facilitator between the travelers, who register their routs, and the customers, who draw up the requirements for the particular things.</p>
         </div>
       </div>
     </div>
       <div class="panel panel-default">
       <a class="panel-heading" data-toggle="collapse" data-parent="#accordion" href="#collapse4">
         <h4 class="panel-title">
           Is it free?
         </h4>
       </a>
       <div id="collapse4" class="panel-collapse collapse">
         <div class="panel-body">
           <p>The service is free.</p>
           <p>The price depends only on an agreement between the traveler and the customer. It could be the pure price of the product, but, please, remember, that the travelers would be pleased to have a reward for their effort.</p>
           <p>If the deal is straight between the traveler and the customer, the payment is made any way the parties will agree on.</p>
           <p>The only paid option is &laquo;Guarantee&raquo;-service.  This service is not obligatory for making a deal and could be chosen at customer’s discretion.</p>
         </div>
       </div>
     </div>
   <div class="headline">
     <h3>&laquo;Guarantee&raquo;-service</h3>
   </div>
     <div class="panel panel-default">
       <a class="panel-heading" data-toggle="collapse" data-parent="#accordion" href="#collapse5">
         <h4 class="panel-title">
           What is it for?
         </h4>
       </a>
       <div id="collapse5" class="panel-collapse collapse">
         <div class="panel-body">
           <p>This service, provided by <b>Trip&Sale</b>, insures our clients and their deals.</p>
           <p>If You chose this option, we will mediate your deal and insuring it against of any kind of accidental losses or emergencies.</p>
         </div>
       </div>
     </div>
     <div class="panel panel-default">
       <a class="panel-heading" data-toggle="collapse" data-parent="#accordion" href="#collapse6">
         <h4 class="panel-title">
           In what cases is it worth using this service?
         </h4>
       </a>
       <div id="collapse6" class="panel-collapse collapse">
         <div class="panel-body">
           <ul>
             <li>
               <p>You are a traveler and You do not trust the customer</p>
               <p>The customer asked You to buy an expensive product. You have already bought it, but the customer canceled the deal in the very last moment. Now You have an expensive Something You don’t need. If You have made the deal with the Guarantee”- option, the whole sum of money You have mentioned in the arrangement will be given to You in any case if You fulfilled the terms of this arrangement. </p>
             </li>
             <li>
               <p>You are a customer and You do not trust the traveler</p>
               <p>The traveler purposely brake the terms of the agreement and brought a damaged product. If You have made the deal with the &laquo;Guarantee&laquo;- option, You can be sure, that You won’t pay if the executor deliberately defied the agreement or did not notify You that he or she failed to find the product.</p>
             </li>
           </ul>
         </div>
       </div>
     </div>
     <div class="panel panel-default">
       <a class="panel-heading" data-toggle="collapse" data-parent="#accordion" href="#collapse7">
         <h4 class="panel-title">
           What should I do to make a deal with this &laquo;Guarantee&raquo;-service?
         </h4>
       </a>
       <div id="collapse7" class="panel-collapse collapse">
         <div class="panel-body">
           <ol>
             <li>The customer and the traveler agree on the price (the real price + the reward for the traveler), the meeting place and the terms via the dialogue-window on our website tripnsale.com.</li>
             <li>In the dialogue-window there is a button “Make a deal with the &laquo;Guarantee&raquo;-service”. When both the customer and the traveler click on this button, the conference-dialogue between the customer, the traveler and our Agent is appeared. </li>
             <li>The customer and the traveler tell the Agent all the details of the deal (the price, the place and the terms).</li>
             <li>The customer transmits the agreed sum of money to the Agent’s account. Thereafter the deal is regarded as &laquo;in process&raquo;, and the traveler can have his money back only if the traveler breaks the terms of the deal.</li>
             <li>The Agent acknowledges the receipt of money. Thereafter the traveler can be sure that he or she will receive the agreed sum of money even if the customer cancels the order.</li>
             <li>After the customer gets his order from the traveler, both of them should point in the dialogue that the deal is executed and they have no claims towards each other. We highly recommend the parties to do when the meet.</li>
             <li>After both the parties certified the accomplishment of the deal, the Agent transmits the agreed sum of money to the travelers account.</li>
           </ol>
         </div>
       </div>
     </div>
     <div class="panel panel-default">
       <a class="panel-heading" data-toggle="collapse" data-parent="#accordion" href="#collapse8">
         <h4 class="panel-title">
           What exactly does the Agent do in a disputable situation?
         </h4>
       </a>
       <div id="collapse8" class="panel-collapse collapse">
         <div class="panel-body">
           <ol>
             <li>The &laquo;Guarantee&raquo;-service transmits the whole sum of money to the traveler’s account, if the deal was marked as being &laquo;in process&raquo;, but the customer canceled the order.</li>
             <li>The &laquo;Guarantee&raquo;-service transmits the whole sum of money to the customer’s account, if the deal was marked as being &laquo;in process&raquo;, but the traveler broke the terms of the deal or canceled it.</li>
             <li>The Agent reserves the right to solve the disputable situations with the assistance of both the parties.</li>
           </ol>
         </div>
       </div>
     </div>
     <div class="panel panel-default">
       <a class="panel-heading" data-toggle="collapse" data-parent="#accordion" href="#collapse9">
         <h4 class="panel-title">
           How much does this service cost?
         </h4>
       </a>
       <div id="collapse9" class="panel-collapse collapse">
         <div class="panel-body">
           <p>The service takes 2% of the deal’s price.</p>
         </div>
       </div>
   </div> <!-- end panel-group -->
   <div class="headline">
     <h3>Technical questions</h3>
   </div>
     <div class="panel panel-default">
       <a class="panel-heading" data-toggle="collapse" data-parent="#accordion" href="#collapse10">
         <h4 class="panel-title">
           How can I add my route/order?
         </h4>
       </a>
       <div id="collapse10" class="panel-collapse collapse">
         <div class="panel-body">
           <ul>
             <li>If You want to add your route or to order something from abroad, click the button “Add” in the upper menu of the website.</li>
             <li>Describe all the details of your route/order.</li>
             <li>Thereafter your route/order will appear on the route- and order-pages accordingly</li>
           </ul>
         </div>
       </div>
     </div>
     <div class="panel panel-default">
       <a class="panel-heading" data-toggle="collapse" data-parent="#accordion" href="#collapse11">
         <h4 class="panel-title">
           How can I look through the list of current routes/orders?
         </h4>
       </a>
       <div id="collapse11" class="panel-collapse collapse">
         <div class="panel-body">
           <p>To look through the list of current routes/orders, choose the section with the corresponding title in the main page of the website.</p>
           <div class="row">
             <div class="col-md-3">
               <a href="#" style="font-size: 13pt; color:">Routes</a>
              </div>
              <div class="col-md-3">
                <a href="#" style="font-size: 13pt; color:">Orders</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="panel panel-default">
        <a class="panel-heading" data-toggle="collapse" data-parent="#accordion" href="#collapse12">
          <h4 class="panel-title">
            How long does it take to deliver my order?
          </h4>
        </a>
        <div id="collapse12" class="panel-collapse collapse">
          <div class="panel-body">
            <p>It depends directly on the time the traveler that You choose will spend in his or her journey and your agreement with the traveler.</p>
          </div>
        </div>
      </div>
      <div class="panel panel-default">
        <a class="panel-heading" data-toggle="collapse" data-parent="#accordion" href="#collapse13">
          <h4 class="panel-title">
            The traveler damaged or broke the product. What can be done?
          </h4>
        </a>
        <div id="collapse13" class="panel-collapse collapse">
          <div class="panel-body">
            <p>If You made a deal using the &laquo;Guarantee&raquo;-option, we will return You the whole sum of money You have paid, if the product was damaged through the traveler’s fault.</p>
            <p>If a deal was made without the &laquo;Guarantee&raquo;-option, the users solve all kinds of disputable situations themselves.</p>
          </div>
        </div>
      </div>
      <div class="panel panel-default">
        <a class="panel-heading" data-toggle="collapse" data-parent="#accordion" href="#collapse14">
          <h4 class="panel-title">
            I have already bought the product, but the customer unexpectedly canceled his order.
          </h4>
        </a>
        <div id="collapse14" class="panel-collapse collapse">
          <div class="panel-body">
            <p>If You made a deal using the &laquo;Guarantee&raquo;-option and the deal was marked as &laquo;in process&raquo; (it means that the customer has already transmitted money to the Agent), we will return You the whole sum of money You have spend.</p>
            <p><b>Trip&Sale</b> strongly recommends the travelers to buy the product after the deal is marked as being &laquo;in process&raquo;. The Agent will notify the both parties about it.
           <p>If a deal was made without the &laquo;Guarantee&raquo;-option, the users solve all kinds of disputable situations themselves.</p>
         </div>
       </div>
     </div>

     <div class="headline">
     <h3>&nbsp;</h3>
    </div>
      <div class="panel panel-default">
        <a class="panel-heading" data-toggle="collapse" data-parent="#accordion" href="#collapse100">
          <h4 class="panel-title">
            I still have some questions.
          </h4>
        </a>
        <div id="collapse100" class="panel-collapse collapse">
          <div class="panel-body">
            <ul>
              If You have any other questions about our service, please, do not hesitate to write directly to our e-mail <a href="mailto:info@tripnsale.com">info@tripnsale.com</a>
           </ul>
         </div>
       </div>
     </div>
 </section>
 <aside class="col-md-3">
   <div class="sidebar-right">

 <!-- Connect -->
 <div class="sidebar-group">
   <nav id="affix-nav" class="hidden-sm hidden-xs">
     <ul class="nav sidebar-nav affix" data-spy="affix" data-offset-top="100" data-offset-bottom="275">
       <div class="headline">
         <h3>Contact us</h3>
       </div>
         <address>
           <ins class="text-center">Cooperation</ins>
           <div style="margin-top:5px"> <span class="ai ai-globe ai-circle" style="margin-right: 5px;"></span><a href="mailto:cooperation@tripnsale.com">cooperation@tripnsale.com</a></div>
          </address>
          <address>
           <ins class="text-center">Advertisement</ins>
            <div style="margin-top:5px"> <span class="ai ai-newspaper ai-circle" style="margin-right: 5px;"></span><a href="mailto:commercial@tripnsale.com">commercial@tripnsale.com</a></div>
          </address>
          <address>
            <ins class="text-center">Still have questions?</ins>
            <div style="margin-top:5px"> <span class="ai ai-mail ai-circle" style="margin-right: 5px;"></span><a href="mailto:info@tripnsale.com">info@tripnsale.com</a></div>
          </address>
      </ul>
  </nav>
  </div> <!-- end sidebar-group -->

</div> <!-- end sidebar-right -->
  </aside>
</div> <!-- end row -->
<div class="clearfix"></div>
</div> <!-- end container -->
</div>
<script>
  $(document).ready(function() {
     $('.sidebar-nav.affix').affix({
        offset: {
          top: function () {
            return (this.top = $('.header').outerHeight(true));
          },
          bottom: function () {
            return (this.bottom = $('.footer').outerHeight(true));
          }
        }
      });
  });
</script>
