<!doctype html>
<html lang="ru" id="top">

  <head>
     <meta charset="UTF-8">
    
    <!-- TITLE TAG - text for browser tabs -->
    <title>Trip&Sale &there4; Правила</title>

    <!-- RESPONSIVE VIEWPORT -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- FAVICON -->
    <link rel="icon" type="image/png" href="../assets/img/favicon.png" />

    <!-- STYLESHEETS -->
    <!-- Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Source+Code+Pro|Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <!-- CORE DEFAULT Stylesheet (theme scheme) - CHANGE THEME SCHEME HERE -->
    <link href="../assets/css/global-style_light--blue1.css" rel="stylesheet" >    
    

        

    
    
  </head>

  <body>
    
    <!-- Extra Header (optional) -->
<!-- TO USE, follow these steps:
  1. REMOVE the class "header-hidden" from the FIRST div below.
  2. ADD ONE header size class to the same div.
     Options are:
       header-small
       header-medium
       header-large
       header-xl
  3. Decide which content you'd like in the extra header as seen in demo from the list below. 
     Remove the class "header-hidden" from each list that you want.
     Edit each list as you'd like. 
 -->
<header id="header" class="header slide animated" role="banner" style="background-color: rgba(244,244,244,.9);">
  <div class="container">
    <div class="row" style="background-color: rgba(244,244,244,.0);">
    
      <div class="navbar-header">
        
        <!-- TOGGLE BUTTON for mobile -->
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Navigation</span>
          <span class="ai ai-menu ai-2x ai-primary"></span>
        </button>

        <!-- sitewide logo LINK TO ROOT INDEX (home) PAGE -->
        <a href="../index1.html" class="navbar-brand">
          <!-- sitewide LOGO HERE (as text, image, or both) -->
          <span class="logo-top">
            Trip<span class="ai ai-compass"></span>Sale
          </span>
          <!-- Hidden text in an h1 tag for SEO purposes -->
          <h1 class="text-hide">Trip&Sale</h1>        
        </a> <!-- end site-wide logo link -->

      </div> <!-- end navbar-header -->

      
      </div> <!-- end navbar wrapper -->
    </div> <!-- end row -->
  </div> <!-- end container -->
</header>
    <!-- FOR BODY background-noise: add 'bg-noise' to this div -->
    <div class="page-wrap" style="background-image: url('../assets/img/bg-white.png')">
      
      <div class="page-header-wrap">
        <div class="container">
          <div class="page-header"> 

            
            <h1>Правила</h1>
            
          </div> <!-- end page-header -->
        </div> <!-- end container -->
      </div> <!-- end page-header-wrap -->
  
    <!-- FOR BODY background-noise: add 'bg-noise' to this div -->

      
  
       
<div class="container content-wrap" >

</div> <!-- end container -->

  
    </div> <!-- end page-wrap -->
    
    
      
<!-- FOOTER -->
<footer class="site-footer footer" style="background-image: url('../assets/img/bg-blue-dark.png')">
  <div class="container">

    <div class="row" style="color: White;">

      <div class="col-md-8 site-footer--col">
        <div class="headline site-footer--heading text-center" style="margin-bottom: 10px;">
          <h3 style="color: White;">Trip&Sale</h3>
        </div>
        <div class="row">
          <div class="col-md-3 col-md-offset-1 text-center">
            <a href="../blocks/contact-form.html" style="font-size: 13pt; color: rgba(255,255,255,.90);">Ваши предложения</a>
          </div>
          <div class="col-md-3 col-md-offset-4 text-center">
            <a href="contact-minimalist.html" style="font-size: 13pt; color: rgba(255,255,255,.90);">Контакты</a>
          </div>
        </div>
      <div class="row">
        <div class="container-fluid">
          <div <div class="text-center" style="color: rgba(255,255,255,.85);">
            <div class="features--feature-wrap" style="margin-top: 0px;">
              <i class="ai ai-4x ai-compass"></i>
            </div>
          </div>
        </div>
      </div>
       <div class="row">
          <div class="col-md-3 col-md-offset-1 text-center">
            <a href="../pages/faqs.html" style="font-size: 13pt; color: rgba(255,255,255,.90);">F.A.Q</a>
          </div>
          <div class="col-md-3 col-md-offset-4 text-center">
            <a href="../security-service/security.html" style="font-size: 13pt; color: rgba(255,255,255,.90);">Гарант</a>
          </div>
        </div>
      </div> <!-- end col -->
      

      <div class="col-md-4 site-footer--col">        
        <div class="headline site-footer--heading text-center" style="margin-bottom: 10px;">
          <h3 style="color: White;">&nbsp;</h3>
        </div>
        <div class="row text-center">
          <a href="../blog/blog.html" style="font-size: 11pt; color: rgba(255,255,255,.90);">Новости</a>
        </div>
        <div class="row text-center">
          <a href="../pages/about.html" style="font-size: 11pt; color: rgba(255,255,255,.90);">О нас</a>
        </div>
        <div class="row text-center">
          <a href="#" style="font-size: 11pt; color: rgba(255,255,255,.90);">Правила</a>
        </div>
        <div class="row text-center">
          <a href="#" style="font-size: 11pt; color: rgba(255,255,255,.90);">Оферта</a>
        </div>


      </div> <!-- end col -->
    </div> <!-- end row -->

    <!-- divider -->
    <div class="row">
      <div class="col-xs-12">
        <hr class="double--inverse" style="margin-top: 10px">
      </div>
    </div> <!-- end row -->

    <!-- meta row -->
    <div class="row">
      <div class="site-footer--meta">
        <span class="col-xs-4 col-xs-offset-4 text-center">
          <a href="#top" title="Scroll to Top" data-toggle="smoothScroll"><i class="ai ai-2x ai-arrow-up3"></i></a>
        </span>
        <div class="col-xs-4 text-right">
          <ul class="list-inline icons--social-media">
  <li class="tooltip-link" data-toggle="tooltip" data-placement="top" title="VK"><a href="#"><span class="ai ai-2x ai-vk" style="color: #4f90bd"></span></a></li>
  <li class="tooltip-link" data-toggle="tooltip" data-placement="top" title="Facebook"><a href="#"><span class="ai ai-2x ai-facebook2" style="color: #4f90bd"></span></a></li>
</ul>
        </div>
      </div> <!-- end meta -->
    </div> <!-- end row -->

  </div>  <!-- end container -->

  
</footer>


    
  
    <!-- SCRIPTS -->
    <!-- jQuery first -->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  
    <!-- Global Scripts -->
    
    <script src="../assets/js/global-adapto.min.js"></script>
    <script src="../assets/js/global-bootstrap.min.js"></script>
    
  <script src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>
<script>
  
  var seattle = new google.maps.LatLng(47.6097, -122.3331);
  var businessName = new google.maps.LatLng(47.6097, -122.3331);
  var marker;
  var map;
  
  function initialize() {
    var mapOptions = {
      zoom: 13,
      center: seattle,
      scrollwheel: false,
      panControl: false,
      mapTypeId: google.maps.MapTypeId.ROADMAP
    };
  
    map = new google.maps.Map(document.getElementById('map_canvas'),
            mapOptions);
  
    marker = new google.maps.Marker({
      map:map,
      draggable:true,
      animation: google.maps.Animation.DROP,
      position: businessName
    });
    google.maps.event.addListener(marker, 'click', toggleBounce);
  }
  
  function toggleBounce() {
  
    if (marker.getAnimation() != null) {
      marker.setAnimation(null);
    } else {
      marker.setAnimation(google.maps.Animation.BOUNCE);
    }
  }
  
  google.maps.event.addDomListener(window, 'load', initialize);

</script>
  <script>
    $('#mapModal').on('shown.bs.modal', function (){
      google.maps.event.trigger(map_canvas, "resize");
      map.setCenter(seattle);
    })
  </script>

  
    
    
    
    
  </body>
</html>