<!-- FOR BODY background-noise: add 'bg-noise' to this div -->
    <div class="page-wrap bg0" style="margin-top: 0px;">

      <div class="page-header-wrap">
        <div class="container">
          <div class="page-header">


            <h1>Правила</h1>

          </div> <!-- end page-header -->
        </div> <!-- end container -->
      </div> <!-- end page-header-wrap -->

    <!-- FOR BODY background-noise: add 'bg-noise' to this div -->




<div class="container content-wrap" >
       <h3>Регистрация</h3>

<p></p>

<p>1. Для того, чтобы начать пользоваться сервисом &laquo;Trip&Sale&raquo;, необходимо пройти процедуру регистрации.
  <p> 1.1 Для этого Вам нужно указать Ваш реальный электронный адрес (на который Вы получите письмо с подтверждением регистрации), Имя, Фамилию и пароль, а также подтвердить, что Вы ознакомились и приняли Пользовательское Соглашение.</p> <p> 1.2. Кроме этого необходимо указать из какой Вы страны, а также, по желанию, Вы можете загрузить аватар и указать город.
Для авторизации в дальнейшем будет использоваться указанный email.</p>

<!--<p>1.1. Вы можете зарегистрироваться с помощью Вашего аккаунта в одной из социальных сетей, чьи иконки расположены в верхнем меню. При этом также нужно будет заполнить необходимые поля регистрационной формы.</p>-->

<p>2. После завершения процедуры регистрации Вы получите доступ к Вашему профилю. Теперь Вы сможете составить заявку в разделах &laquo;Мне нужно&raquo; и &laquo;Готов доставить&raquo;.</p>

<p></p>

<h3>Виды заявок</h3>

<p>3. Заявка в разделе &laquo;Мне нужно&raquo; помогает Пользователям найти людей, которые могли бы доставить нужную вещь из того государства, где находится эта вещь, туда, куда нужно конкретному Пользователю.</p>

<p>4. Заявка в разделе &laquo;Готов доставить&raquo; помогает Пользователям найти людей, которым нужно что-либо привезти оттуда, где в определенный момент времени будет находиться конкретный Пользователь, туда, куда этот Пользователь планирует приехать.</p>

<p></p>

<h3> Рассмотрим подробнее:</h3>
<h3> Заявка &laquo;Мне нужно&raquo;</h3>

<p>5.1. Если Вам нужно что-либо перевезти из одного города (страны) в другой, Вы можете оставить заявку &laquo;Мне нужно&raquo;. &nbsp;</p>

<p>5.2. Вам нужно указать:</p>

<p>5.2.1. ОТКУДА (страна, при необходимости - город) и КУДА (страна, при необходимости - город) нужно доставить заказ;</p>

<p>5.2.2. Стоимость товара.</p>

<p>5.2.3. Отметить необходимость проведения сделки только через Гаранта.</p>

<p>5.2.4. Кроме этого Вы можете загрузить неообходимые фотографии и оставить комментарий относительно заказа.</p>

<p>5.2.5. Для связи с путешественником будут использоваться внутренние диалоги. Вознаграждение доставщику оговаривается лично.</p>

<p></p>

<h3> Заявка &laquo;Готов доставить&raquo;</h3>

<p>6.1. Если Вы планируете какую-либо поездку (на отдых, в командировку, на ПМЖ и т. д.), хотите оказать услугу людям и немного подзаработать и готовы что-либо перевезти из одного города (страны) в другой, Вы можете оставить заявку &laquo;Готов доставить&raquo;. Когда оформляется заявка?</p>

<p>6.1.1. Вы точно знаете, что находитесь сейчас или будете находиться в определенной точке планеты в определенный период времени;</p>

<p>6.1.2. Вы точно знаете, куда потом собираетесь направиться;</p>

<p>6.1.3. для Вас не составит труда забрать заказ там, где Вы находитесь (или планируете находиться) и перевезти ее туда, куда Вы собираетесь приехать (вернуться).</p>

<p>6.2. Вам нужно указать:</p>

<p>6.2.1. ОТКУДА (страна, при необходимости &mdash; город) и КОГДА Вы выезжаете;</p>

<p>6.2.2. КУДА (страна, при необходимости &mdash; город) и КОГДА Вы прибываете (и, соответственно, куда Вы сможете доставить заказ)</p>

<p>6.2.3. Указать на неообходимость работы только через Гаранта.</p>

<p>6.2.4. Кроме этого Вы можете оставить комментарии.</p>

<p>6.2.5. Для связи с заказчиком будут использоваться внутренние диалоги. Вознаграждение доставщику оговаривается лично.</p>


<p></p>


<h3>Работа с Профилем</h3>

<p>7.1. При работе с Вашим Профилем Вы можете добавлять новые поездки/заявки.</p>

<p>7.2. Кроме этого Вы можете переводить заявки и поездки в статус неактивных/удалять.</p>

<p>7.3. Открыв страницу профиля, Вы можете его редактировать;</p>

<p>7.2.1 изменять Вашу личную информацию, аватар;</p>

<p>7.2.2 изменять e-mail для связи, а также пароль.</p>

<p></p>

<h3> Услуга Гаранта</h3>

<p>8. Что дает услуга Гаранта?</p>

<p>8.1. Если Вы путешественник, Вы можете быть уверены, что, если сделка перешла в стадию &laquo;Исполняемых&raquo; (т.е. покупатель перевел средства на счет Гаранта) - Вы обязательно (в случае соблюдения договоренносте с Вашей стороны) получите оговоренные на покупку товара средства.</p>

<p>8.2. Если Вы заказываете товар, Вы можете быть уверены, что, если доставщик нарушит условия доставки (например, привезет поврежденный в результате его небрежности товар) - Вы гарантированно получите свои средства обратно (которые будут переведены со счета Гаранта).</p>

<p>9. Как совершить сделку с помощью Гаранта?</p>

<p>9.1. После личной договоренности о сделке в диалоге на сайте необходимо нажать кнопку &laquo;Создать диалог с Гарантом&raquo;.</p>

<p>9.1. После этого Вы получите ссылку на диалог между Вами, Вашим партнером и Гарантом.</p>

<p>9.1.1. Гаранту необходимо сообщить подробности сделки и получить дальнейшие инструкции по переводу денежных средств.</p>

<p>9.1.2. Как только на счет Гаранта будут переведены средства, сделка будет переведена в статус &laquo;Исполняемых&raquo; и путешественник может без опасения покупать товар.</p>

<p>9.1.3. После передачи товара путешественником заказчику обоим участникам сделки необходимо оповестить об этом Гаранта в их совместном диалоге.</p>

<p>9.1.3.1. Обращаем внимание путешественника, что он крайне заинтересован в том, чтобы заказчик сообщил о получении товара. В противном случае получение путешественником затраченных средств от Гаранта может быть затруднено.</p>

<p>10. Когда применяется услуга гаранта?</p>

<p>10.1 Допустим, Вы путешественник. Заказчик просит Вас привезти MacBook за большую стоимость. Вы приобрели товар, но после этого заказчик неожиданно передумал. Что теперь Вам делать с товаром - непонятно. Используя услугу Гаранта, Вы можете быть уверены, что Вам возместят средства, потраченные на товар, т.к. заказчик перевел деньги на счет Гаранта, который переведет их на Ваш счет.</p>

<p>10.2 Допустим, Вы заказчик. Вы заказали товар, но путешественник по своей халатности привез товар поврежденным. Если Вы воспользовались услугой Гаранта, Вы гарантированно получите свои средства обратно.</p>

<p>11. Стоимость услуги гаранта составляет 2% от совершаемой сделки.</p>

<p></p>

<h3> Что можно перевозить?</h3>

<p>12.1. Вы можете перевозить любые товары, движение которых не ограничивает закон соответствующих двух стран.</p>

<p>12.2. Будьте внимательны, особенно если Вы осуществляете международную доставку. В каждой стране имеются свои правила и ограничения на ввоз и вывоз товаров. Более подробную информацию о перевозимых товарах Вы можете получить на соответствующих ресурсах.</p>

<p></p>

<h3> Что нельзя перевозить?</h3>

<p>13.1. Все, что запрещено законом соответствующих стран.</p>

<p>13.2. Как правило это:</p>

<p>13.2.1. оружие (в том числе его основные составные элементы) и боеприпасы;</p>

<p>13.2.2. наркотические средства, психотропные вещества и их прекурсоры, в том числе в виде лекарственных средств;</p>

<p>13.2.3. сильнодействующие, радиоактивные, взрывчатые, едкие, легковоспламеняющиеся, ядовитые и другие опасные вещества;</p>

<p>13.2.4. органы и (или) ткани человека, кровь и ее компоненты;</p>

<p>13.2.5. печатные и аудиовизуальные материалы:</p>

<p>13.2.5.1. содержащие призывы к осуществлению экстремистской и террористической деятельности или публичное оправдание терроризма,</p>

<p>13.2.5.2. порнографического характера,</p>

<p>13.2.5.3. изготовленные или распространяемые с нарушением требований законодательства стран таможенного союза Евразийского экономического сообщества о выборах и референдумах,</p>

<p>13.2.5.4. направленные на пропаганду нацистской атрибутики или символики либо атрибутики или символики, сходных с нацистской атрибутикой или символикой до степени смешения,</p>

<p>13.2.5.5. содержащие иную информацию, которая может причинить вред политическим или экономическим интересам государства ввоза/вывоза, его государственной безопасности, здоровью и нравственности граждан;</p>

<p>13.2.5.6. государственные культурные ценности;</p>

<p>13.2.5.7. драгоценные камни в любом виде и состоянии, природные алмазы, за исключением ювелирных изделий.</p>

<p></p>

<h3> Дополнительно</h3>

<p>14. Любую дополнительную информацию можно получить по соответствующим ссылкам в &laquo;Контактах&raquo;.</p>


</div> <!-- end container -->


    </div> <!-- end page-wrap -->
