 <!-- FOR BODY background-noise: add 'bg-noise' to this div -->
    <div class="page-wrap" style="background-image: url('../assets/img/bg-white.png')">
      
      <div class="page-header-wrap">
        <div class="container">
          <div class="page-header"> 

            
            <h1>Правила</h1>
            
          </div> <!-- end page-header -->
        </div> <!-- end container -->
      </div> <!-- end page-header-wrap -->
  
    <!-- FOR BODY background-noise: add 'bg-noise' to this div -->

      
  
       
<div class="container content-wrap" >

</div> <!-- end container -->

  
    </div> <!-- end page-wrap -->
    
    

