{% load static %}
{% load ccstatic %}

<div class="page-wrap bg2">
<div class="page-header-wrap">
        <div class="container">
          <div class="page-header"> 

            
            <h1>Схема работы</h1>
            
          </div> <!-- end page-header -->
        </div> <!-- end container -->
      </div> <!-- end page-header-wrap -->


<section id="security">
<div class="bg2">
  <div class="container content-wrap">
    <div class="row" style="padding-top: 50px;"> 
      <div class="icon-callouts">
        <div class="col-md-3 text-center col-md-offset-1">
          <div class="wow fadeInLeft" data-wow-duration="1.4s" data-wow-delay=".2s">
            <i class="ai ai-4x ai-shield ai-circle-outline" style="margin-bottom: 15px;"></i>
          </div>
         <h2 style="font-size: 24pt; color: rgba(122,135,154,.95); text-align: center;">Безопасно для заказчика<br>
          <div class="text-center" style="font-size: 11pt; color: rgba(0,0,0,.70); margin-top: 20px;">В случае намеренного нарушения условий доставки со стороны путешественника - все внесенные средства возвращаются заказчику.</div>
        </div>

        <div class="col-md-3 text-center col-md-offset-4">
          <div class="wow fadeInRight" data-wow-duration="1.4s" data-wow-delay=".2s">
            <i class="ai ai-4x ai-lock ai-circle-outline" style="margin-bottom: 15px;"></i>
          </div>
         <h2 style="font-size: 24pt; color: rgba(122,135,154,.95); text-align: center;">Надежно для доставителя<br>
          <div class="text-center" style="font-size: 11pt; color: rgba(0,0,0,.70); margin-top: 20px;">При нарушении заказчиком договоренностей - все потраченные на товар средства уходят доставителю.</div>
        </div>
      </div>
    </div>
  </div>
</div>
</section>


<div class="container content-wrap">
  <div class="row"> 
    <div class="three-col-img-block space--big">
      <div class="col-md-8 col-sm-offset-2 no-border text-center wow fadeInDown" data-wow-duration="1.4s" data-wow-delay=".2s" >
          <img src="{% ccstatic "ext/adapto/assets/img/garant1.png" %}" alt="" class="img-responsive visible-sm visible-lg" style="margin-top: 0px;">
      </div>
    </div>
  </div>
</div>


<section id="actual">
<div class="bg2">
  <div class="container content-wrap">
    <div class="row" style="padding-top: 0px;"> 
      <div class="icon-callouts">
        <div class="col-md-3 text-center col-md-offset-1">
          <div class="wow fadeInLeft" data-wow-duration="1.4s" data-wow-delay=".2s">
            <i class="ai ai-4x ai-credit ai-circle-outline" style="margin-bottom: 15px;"></i>
          </div>
         <h2 style="font-size: 24pt; color: rgba(122,135,154,.95); text-align: center;">Доступно<br>
          <div class="text-center" style="font-size: 11pt; color: rgba(0,0,0,.70); margin-top: 20px;">Стоимость услуги гаранта составляет всего <b>2%</b> от совершаемой сделки.</div>
        </div>

        <div class="col-md-3 text-center col-md-offset-4">
          <div class="wow fadeInRight" data-wow-duration="1.4s" data-wow-delay=".2s">
            <i class="ai ai-4x ai-signup ai-circle-outline" style="margin-bottom: 15px;"></i>
          </div>
         <h2 style="font-size: 24pt; color: rgba(122,135,154,.95); text-align: center;">Элементарно<br>
          <div class="text-center" style="font-size: 11pt; color: rgba(0,0,0,.70); margin-top: 20px;">Для привлечения к сделке гаранта необходимо после обсуждения условий нажать всего одну кнопку в диалоге.</div>
        </div>
      </div>
    </div>
  </div>
</div>
</section>

<p class="h3 fancy divider bg2" style="height: 47px; padding-top: 10px;"><span class="ai ai-compass"></span></p>

<div class="bg2">
  <div class="container content-wrap" style="padding-bottom: 20px; padding-top: 70px;">
    <div class="row"> 
      <div class="icon-callouts">
        <div class="col-md-6 text-center col-md-offset-3">
         <h2 style="font-size: 24pt; color: rgba(122,135,154,.95); text-align: center;">Остались вопросы?<br>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="bg2">
  <ul class="icon-boxes list-unstyled" style="padding-bottom: 25px;">
    <li class="icon-btn icon-btn_cart">
      <a href="/info/faqs/">
        <span class="icon-btn_icon">
          <i class="ai ai-question"></i>
        </span>
        <span class="icon-btn_text">
          F.A.Q.
        </span>
      </a>
    </li>
  </ul>
</div>

    
     
