<!doctype html>
<html lang="ru" id="top">

  <head>

    <meta charset="UTF-8">
    <!-- TITLE TAG - text for browser tabs -->
    <title>Trip&Sale &there4; Актульно</title>

    <!-- RESPONSIVE VIEWPORT -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- FAVICON -->
    <link rel="icon" type="image/png" href="../assets/img/favicon.png" />

    <!-- STYLESHEETS -->
    <!-- Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Source+Code+Pro|Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <!-- CORE DEFAULT Stylesheet (theme scheme) - CHANGE THEME SCHEME HERE -->
    <link href="../assets/css/global-style_light--blue1.css" rel="stylesheet" >    
    

    
    <!-- Revolution Slider Stylesheet -->
    <link href="../assets/revolution-slider/css/settings.min.css" rel="stylesheet" type="text/css" media="all" />

    <script src="http://maps.google.com/maps?file=api&v=2&key=_yourMapsAPIkey_" type="text/javascript"></script>

    
    
  </head>


  <body onload="initialize()" onunload="GUnload()">
  <body >
    
    <!-- Extra Header (optional) -->
<!-- TO USE, follow these steps:
  1. REMOVE the class "header-hidden" from the FIRST div below.
  2. ADD ONE header size class to the same div.
     Options are:
       header-small
       header-medium
       header-large
       header-xl
  3. Decide which content you'd like in the extra header as seen in demo from the list below. 
     Remove the class "header-hidden" from each list that you want.
     Edit each list as you'd like. 
 -->
<header id="header" class="header slide animated" role="banner" style="background-color: rgba(244,244,244,.9);">
  <div class="container">
    <div class="row" style="background-color: rgba(244,244,244,.0);">
    
      <div class="navbar-header">
        
        <!-- TOGGLE BUTTON for mobile -->
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Navigation</span>
          <span class="ai ai-menu ai-2x ai-primary"></span>
        </button>

        <!-- sitewide logo LINK TO ROOT INDEX (home) PAGE -->
        <a href="../index1.html" class="navbar-brand">
          <!-- sitewide LOGO HERE (as text, image, or both) -->
          <span class="logo-top">
            Trip<span class="ai ai-compass"></span>Sale
          </span>
          <!-- Hidden text in an h1 tag for SEO purposes -->
          <h1 class="text-hide">Trip&Sale</h1>        
        </a> <!-- end site-wide logo link -->

      </div> <!-- end navbar-header -->

      
      </div> <!-- end navbar wrapper -->
    </div> <!-- end row -->
  </div> <!-- end container -->
</header>
  
    <!-- FOR BODY background-noise: add 'bg-noise' to this div -->

<div class="page-wrap">
<div class="page-header-wrap">
        <div class="container">
          <div class="page-header"> 

            
            <h1>Актуальность сервиса</h1>
            
          </div> <!-- end page-header -->
        </div> <!-- end container -->
      </div> <!-- end page-header-wrap -->

<div style="background-image: url('../assets/img/bg-white.png')">
  <div class="container content-wrap">
    <div class="row" style="padding-top: 120px; padding-bottom: 110px;"> 
      <div class="icon-callouts">
        <div class="col-md-3 text-center col-md-offset-0 wow fadeInLeft">
          <i class="ai ai-5x ai-airplane ai-circle-outline col-md-2" style="margin-bottom: 15px;"></i>
        </div>
        <div class="sidebar-right col-md-9 sidebar-group" style="padding-left: 0px;">
         <h2 style="font-size: 24pt; color: rgba(122,135,154,.95); text-align: center;">Быстро<br><br>
          <div class="text-center" style="font-size: 11pt; color: rgba(0,0,0,.70); margin-top: 20px;">Доставка путешественниками гораздо быстрее, чем официальная доставка того или иного сайта - ведь Вы можете найти путешественника, который вылетает по нужному вам маршруту буквально завтра.</div>
        </div>
      </div>
    </div>
  </div>
</div>

<!--<p class="h3 fancy divider" style="background: #f4f4f4"><span class="ai ai-compass"></span></p>-->

<div style="background-image: url('../assets/img/bg-blue-light.png')">
  <div class="container content-wrap">
    <div class="row" style="padding-top: 170px; padding-bottom: 110px;"> 
      <div class="icon-callouts">
        <div class="col-md-9 text-center">
          <h2 style="font-size: 24pt; color: rgba(255,255,255,.95); text-align: center;">Стабильно<br><br>
          <div class="text-center" style="font-size: 11pt; color: rgba(255,255,255,.85); margin-top: 20px;">Как правило, с изменением курса валюты цены в России растут, но назад, даже при благоприятном курсе рубля не возвращаются. В дополнение к этому, при выставлении цены на импортные товары магазины оставляют запас на рост валюты.<br><br>С помощью сервиса Trip and Sale каждый может компенсировать таможенные пошлины, транспортные и логистические издержеки, а так же наценки торговых дилеров.</div>
        </div>
        <div class="sidebar-right col-md-3 sidebar-group wow fadeInRight" style="padding-left: 100px;">
         <i class="ai ai-5x ai-calculate ai-circle-outline1 col-md-off" style="margin-bottom: 15px;"></i>
        </div>
      </div>
    </div>
  </div>
</div>

<!--<p class="h3 fancy divider" style="background: #f4f4f4"><span class="ai ai-compass"></span></p>-->

<div style="background-image: url('../assets/img/bg-white.png')">
  <div class="container content-wrap">
    <div class="row" style="padding-top: 170px; padding-bottom: 110px;"> 
      <div class="icon-callouts">
        <div class="col-md-3 text-center col-md-offset-0 wow fadeInLeft">
          <i class="ai ai-5x ai-shield ai-circle-outline col-md-2" style="margin-bottom: 15px;"></i>
        </div>
        <div class="sidebar-right col-md-9 sidebar-group" style="padding-left: 0px;">
         <h2 style="font-size: 24pt; color: rgba(122,135,154,.95); text-align: center;">Надежно<br></h2>
          <div class="row">
            <div class="text-center" style="font-size: 11pt; color: rgba(0,0,0,.70); margin-top: 20px;">
              Используя услугу гаранта         
              <a href="../security-service/security.html">
                <i style="font-size: 15pt;" class="ai ai-2x ai-info"></i>
              </a>
            </div>
          </div>
          <div style="font-size: 11pt; color: rgba(0,0,0,.70); margin-top: 0px;">
            <ul>
              <li>путешественник может не беспокоиться о том, что покупатель передумает покупать заказ.</li>
              <li>покупатель может не беспокоиться, что ему придется платить деньги за испорченный по вине доставителя товар.</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!--<p class="h3 fancy divider" style="background: #f4f4f4"><span class="ai ai-compass"></span></p>-->

<div style="background-image: url('../assets/img/bg-blue-light.png')">
  <div class="container content-wrap">
    <div class="row" style="padding-top: 170px; padding-bottom: 110px;"> 
      <div class="icon-callouts">
        <div class="col-md-9 text-center">
          <h2 style="font-size: 24pt; color: rgba(255,255,255,.95); text-align: center;">Прибыльно<br><br>
          <div class="text-center" style="font-size: 11pt; color: rgba(255,255,255,.85); margin-top: 20px;">С помощью сервиса Trip and Sale путешественник может пополнять свой бюджет.<br><br>Сумма вознаграждения устанавливается путешественником и заказчиком в личном диалоге.</div>
        </div>
        <div class="sidebar-right col-md-3 sidebar-group wow fadeInRight" style="padding-left: 100px;">
         <i class="ai ai-5x ai-coin ai-circle-outline1 col-md-off" style="margin-bottom: 15px;"></i>
        </div>
      </div>
    </div>
  </div>
</div>

<div style="background-image: url('../assets/img/bg-white.png')">
  <div class="container content-wrap" style="padding-bottom: 20px;">
    <div class="row" style="padding-top: 170px; padding-bottom: 110px;"> 
      <div class="icon-callouts">
        <div class="col-md-3 text-center col-md-offset-0 wow fadeInUp">
          <i class="ai ai-5x ai-arrow-up ai-circle-outline col-md-2" style="margin-bottom: 15px;"></i>
        </div>
        <div class="sidebar-right col-md-9 sidebar-group" style="padding-left: 0px;">
         <h2 style="font-size: 24pt; color: rgba(122,135,154,.95); text-align: center;">Курс валюты<br></h2>
          <div class="text-center" style="font-size: 11pt; color: rgba(0,0,0,.70); margin-top: 20px;">Как правило цены повышаются быстрее курса иностранных валют. Магазины выставляют свои цены с запасом на рост.<br>Покупай товары по живому курсу!</div>
        </div>
        </div>
      </div>
    </div>
  </div>
</div>

<hr style="background-image: url('../assets/img/bg-white.png')">

<div style="background-image: url('../assets/img/bg-blue-light.png')">
  <div class="container content-wrap">
    <div class="row" style="padding-top: 60px; padding-bottom: 40px;"> 
      <div class="icon-callouts">
        <div class="col-md-3 col-md-offset-1 text-center " style="padding-left: 100px;">
         <a href=""><i class="ai ai-3x ai-globe ai-circle-outline1 col-md-off" style="margin-bottom: 15px;"></i></a><h5 class="text-center" style="color: rgba(255,255,255,.85);">Список поездок
        </div>
        <div class="col-md-3 col-md-offset-3 text-center " style="padding-left: 100px;">
         <a href=""><i class="ai ai-3x ai-file ai-circle-outline1 col-md-off" style="margin-bottom: 15px;"></i></a><h5 class="text-center" style="color: rgba(255,255,255,.85);">Список заказов
        </div>
      </div>
    </div>
  </div>
</div>


</div>
    
      
<!-- FOOTER -->
<footer class="site-footer footer" style="background-image: url('../assets/img/bg-blue-dark.png')">
  <div class="container">

    <div class="row" style="color: White;">

      <div class="col-md-8 site-footer--col">
        <div class="headline site-footer--heading text-center" style="margin-bottom: 10px;">
          <h3 style="color: White;">Trip&Sale</h3>
        </div>
        <div class="row">
          <div class="col-md-3 col-md-offset-1 text-center">
            <a href="../blocks/contact-form.html" style="font-size: 13pt; color: rgba(255,255,255,.90);">Ваши предложения</a>
          </div>
          <div class="col-md-3 col-md-offset-4 text-center">
            <a href="../contact/contact-minimalist.html" style="font-size: 13pt; color: rgba(255,255,255,.90);">Контакты</a>
          </div>
        </div>
      <div class="row">
        <div class="container-fluid">
          <div <div class="text-center" style="color: rgba(255,255,255,.85);">
            <div class="features--feature-wrap" style="margin-top: 0px;">
              <i class="ai ai-4x ai-compass"></i>
            </div>
          </div>
        </div>
      </div>
       <div class="row">
          <div class="col-md-3 col-md-offset-1 text-center">
            <a href="faqs.html" style="font-size: 13pt; color: rgba(255,255,255,.90);">F.A.Q</a>
          </div>
          <div class="col-md-3 col-md-offset-4 text-center">
            <a href="../security-service/security.html" style="font-size: 13pt; color: rgba(255,255,255,.90);">Гарант</a>
          </div>
        </div>
      </div> <!-- end col -->
      

      <div class="col-md-4 site-footer--col">        
        <div class="headline site-footer--heading text-center" style="margin-bottom: 10px;">
          <h3 style="color: White;">&nbsp;</h3>
        </div>
        <div class="row text-center">
          <a href="../blog/blog.html" style="font-size: 11pt; color: rgba(255,255,255,.90);">Новости</a>
        </div>
        <div class="row text-center">
          <a href="about.html" style="font-size: 11pt; color: rgba(255,255,255,.90);">О нас</a>
        </div>
        <div class="row text-center">
          <a href="#" style="font-size: 11pt; color: rgba(255,255,255,.90);">Правила</a>
        </div>
        <div class="row text-center">
          <a href="#" style="font-size: 11pt; color: rgba(255,255,255,.90);">Оферта</a>
        </div>


      </div> <!-- end col -->
    </div> <!-- end row -->

    <!-- divider -->
    <div class="row">
      <div class="col-xs-12">
        <hr class="double--inverse" style="margin-top: 10px">
      </div>
    </div> <!-- end row -->

    <!-- meta row -->
    <div class="row">
      <div class="site-footer--meta">
        <span class="col-xs-4 col-xs-offset-4 text-center">
          <a href="#top" title="Scroll to Top" data-toggle="smoothScroll"><i class="ai ai-2x ai-arrow-up3"></i></a>
        </span>
        <div class="col-xs-4 text-right">
          <ul class="list-inline icons--social-media">
  <li class="tooltip-link" data-toggle="tooltip" data-placement="top" title="VK"><a href="#"><span class="ai ai-2x ai-vk" style="color: #4f90bd"></span></a></li>
  <li class="tooltip-link" data-toggle="tooltip" data-placement="top" title="Facebook"><a href="#"><span class="ai ai-2x ai-facebook2" style="color: #4f90bd"></span></a></li>
</ul>
        </div>
      </div> <!-- end meta -->
    </div> <!-- end row -->

  </div>  <!-- end container -->

  
</footer>



    
  
    <!-- SCRIPTS -->
    <!-- jQuery first -->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  
    <!-- Global Scripts -->
    
    <script src="../assets/js/global-adapto.min.js"></script>
    <script src="../assets/js/global-bootstrap.min.js"></script>
    
<script src="../assets/js/owl.carousel.min.js"></script>
<script src="../assets/js/wow.min.js"></script>
<script>
  // for testimonial slider
  var owl = $("#testimonials");
  owl.owlCarousel({
    singleItem: true,
    autoPlay: 10000,
    pagination: false
  });
  // Fit-vids for responsive video
  $(".vid-wrap").fitVids();
new WOW().init();
</script>

  
    
      <!-- Revolution Slider REQUIRED JS files -->
<script src="../assets/revolution-slider/js/jquery.themepunch.revolution.min.js"></script>
<script src="../assets/revolution-slider/js/jquery.themepunch.plugins.min.js"></script>

<script>
  // Revolution Slider SETTINGS
  var revapi;
  jQuery(document).ready(function() {
     revapi = jQuery('.tp-banner').revolution(
    {
      delay:              11000,
      startwidth:         1170,
      startheight:        440,
      hideThumbs:         10,
      fullWidth:          "off",
      forceFullWidth:     "off",
      navigationType:     "none",
      navigationStyle:    "square",
      touchenabled:       "on",
    });
  }); //ready

</script>

<script type="text/javascript">
    function initialize() {
      if (GBrowserIsCompatible()) {
        var map = new GMap2(document.getElementById("map_canvas"));
        map.setCenter(new GLatLng(55.752,37.616), 13);
            // здесь можно задать дополнительные элементы управления
      }
  }
  </script>
    
    
    
    
  </body>
</html>
