<div class="page-wrap" style="margin-top: 0px; margin-bottom: -10px;">
<div class="page-header-wrap">
        <div class="container">
          <div class="page-header">


            <h1>Актуальность сервиса</h1>

          </div> <!-- end page-header -->
        </div> <!-- end container -->
      </div> <!-- end page-header-wrap -->

<div class="bg0">
  <div class="container content-wrap">
    <div class="row" style="padding-top: 120px; padding-bottom: 110px;">
      <div class="icon-callouts">
        <div class="col-md-3 text-center col-md-offset-0 wow fadeInLeft">
          <i class="ai ai-5x ai-airplane ai-circle-outline col-md-2" style="margin-bottom: 15px;"></i>
        </div>
        <div class="sidebar-right col-md-9 sidebar-group" style="padding-left: 0px;">
         <h2 style="font-size: 24pt; color: rgba(122,135,154,.95); text-align: center;">Быстро<br><br>
          <div class="text-center" style="font-size: large; color: rgba(0,0,0,.70); margin-top: 20px;">Доставка путешественниками гораздо быстрее, чем официальная доставка того или иного сайта - ведь Вы можете найти путешественника, который вылетает по нужному вам маршруту буквально завтра.</div>
        </div>
      </div>
    </div>
  </div>
</div>

<!--<p class="h3 fancy divider" style="background: #f4f4f4"><span class="ai ai-compass"></span></p>-->

<div class="bgBlueLight">
  <div class="container content-wrap">
    <div class="row" style="padding-top: 170px; padding-bottom: 110px;">
      <div class="icon-callouts">
        <div class="col-md-9 text-center">
          <h2 style="font-size: 24pt; color: rgba(255,255,255,.95); text-align: center;">Стабильно<br><br>
          <div class="text-center" style="font-size: large; color: rgba(255,255,255,.85); margin-top: 20px;">Как правило, с изменением курса валюты цены в России растут, но назад, даже при благоприятном курсе рубля не возвращаются. В дополнение к этому, при выставлении цены на импортные товары магазины оставляют запас на рост валюты.<br><br>С помощью сервиса Trip and Sale каждый может компенсировать таможенные пошлины, транспортные и логистические издержеки, а так же наценки торговых дилеров.</div>
        </div>
        <div class="sidebar-right col-md-3 sidebar-group wow fadeInRight" style="padding-left: 100px;">
         <i class="ai ai-5x ai-calculate ai-circle-outline1 col-md-off" style="margin-bottom: 15px;"></i>
        </div>
      </div>
    </div>
  </div>
</div>

<!--<p class="h3 fancy divider" style="background: #f4f4f4"><span class="ai ai-compass"></span></p>-->

<div class="bg0">
  <div class="container content-wrap">
    <div class="row" style="padding-top: 170px; padding-bottom: 110px;">
      <div class="icon-callouts">
        <div class="col-md-3 text-center col-md-offset-0 wow fadeInLeft">
          <i class="ai ai-5x ai-shield ai-circle-outline col-md-2" style="margin-bottom: 15px;"></i>
        </div>
        <div class="sidebar-right col-md-9 sidebar-group" style="padding-left: 0px;">
         <h2 style="font-size: 24pt; color: rgba(122,135,154,.95); text-align: center;">Надежно<br></h2>
          <div class="row">
            <div class="text-center" style="font-size: large; color: rgba(0,0,0,.70); margin-top: 20px;">
              Используя услугу гаранта
              <a href="/info/security">
                <i style="font-size: 15pt;" class="ai ai-2x ai-info"></i>
              </a>
            </div>
          </div>
          <div style="font-size: large; color: rgba(0,0,0,.70); margin-top: 0px;">
            <ul>
              <li>путешественник может не беспокоиться о том, что покупатель передумает покупать заказ.</li>
              <li>покупатель может не беспокоиться, что ему придется платить деньги за испорченный по вине доставителя товар.</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!--<p class="h3 fancy divider" style="background: #f4f4f4"><span class="ai ai-compass"></span></p>-->

<div class="bgBlueLight">
  <div class="container content-wrap">
    <div class="row" style="padding-top: 170px; padding-bottom: 110px;">
      <div class="icon-callouts">
        <div class="col-md-9 text-center">
          <h2 style="font-size: 24pt; color: rgba(255,255,255,.95); text-align: center;">Прибыльно<br><br>
          <div class="text-center" style="font-size: large; color: rgba(255,255,255,.85); margin-top: 20px;">С помощью сервиса Trip and Sale путешественник может пополнять свой бюджет.<br><br>Сумма вознаграждения устанавливается путешественником и заказчиком в личном диалоге.</div>
        </div>
        <div class="sidebar-right col-md-3 sidebar-group wow fadeInRight" style="padding-left: 100px;">
         <i class="ai ai-5x ai-coin ai-circle-outline1 col-md-off" style="margin-bottom: 15px;"></i>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="bg0">
  <div class="container content-wrap" style="padding-bottom: 20px;">
    <div class="row" style="padding-top: 170px; padding-bottom: 110px;">
      <div class="icon-callouts">
        <div class="col-md-3 text-center col-md-offset-0 wow fadeInUp">
          <i class="ai ai-5x ai-arrow-up ai-circle-outline col-md-2" style="margin-bottom: 15px;"></i>
        </div>
        <div class="sidebar-right col-md-9 sidebar-group" style="padding-left: 0px;">
         <h2 style="font-size: 24pt; color: rgba(122,135,154,.95); text-align: center;">Курс валюты<br/></h2>
          <div class="text-center" style="font-size: large; color: rgba(0,0,0,.70); margin-top: 20px;">Как правило цены повышаются быстрее курса иностранных валют. Магазины выставляют свои цены с запасом на рост.<br>Покупай товары по живому курсу!<br>
            <!--<i style="font-size: small;">(Курс ЦБ РФ на текущий день отображается в шапке сайта)</i>--></div>
        </div>
        </div>
      </div>
    </div>
  </div>
<!-- </div> -->


<hr class="bg0">

<div class="bgBlueLight">
  <div class="container content-wrap">
    <div class="row" style="padding-top: 60px; padding-bottom: 40px;">
      <div class="icon-callouts">
        <div class="col-md-3 col-md-offset-1 text-center " style="padding-left: 100px;">
         <a href="/offer/sale/list"><i class="ai ai-3x ai-globe ai-circle-outline1 col-md-off" style="margin-bottom: 15px;"></i></a><h5 class="text-center" style="color: rgba(255,255,255,.85);">Список поездок
        </div>
        <div class="col-md-3 col-md-offset-3 text-center " style="padding-left: 100px;">
         <a href="/offer/buy/list"><i class="ai ai-3x ai-file ai-circle-outline1 col-md-off" style="margin-bottom: 15px;"></i></a><h5 class="text-center" style="color: rgba(255,255,255,.85);">Список заказов
        </div>
      </div>
    </div>
  </div>
</div>


</div>