$h1-bottom-margin: 48px;
$h2-bottom-margin: 42px;
$h3-bottom-margin: 35px;
$h4-bottom-margin: 30px;
$h5-bottom-margin: 25px;
$h6-bottom-margin: 20px;

h1 {margin-bottom: $h1-bottom-margin;}
h2 {margin-bottom: $h2-bottom-margin;}
h3 {margin-bottom: $h3-bottom-margin;}
h4 {margin-bottom: $h4-bottom-margin;}
h5 {margin-bottom: $h5-bottom-margin;}
h6 {margin-bottom: $h6-bottom-margin;}

h1.brand-top {
  margin-left: 100px;
  margin-top: -5px;
}



.container {
  h2, h3, h4, h5, h6, .headline {
    &:first-of-type {
      margin-top: 0;
    }
  }
}

.group {
  .heading h2:first-child,
  .heading h3:first-child, 
  .heading h4:first-child,
  .heading h5:first-child,
  .headline h2:first-child
  .headline h3:first-child,
  .headline h4:first-child,
  .headline h5:first-child {
    margin-top: 0;
  }
  .headline:first-child {
    margin-top: 0;
  }
}

.heading {
  display: block;
  h2, .h2, h3, .h3, h4, .h4 {
    display: inline-block;
    padding-bottom: 10px;
    &:after {
      border-top: 1px solid $heading-underline-color;
      border-bottom: 1px solid $heading-underline-color;
      content: "";
      display: inline-block;
      height: 4px;
      margin-top: -14px;
      position: relative;
      vertical-align: middle;
      width: 100%;
      margin-bottom: 1px;
    }
  }
}
.headline {
  @extend %block;
  @extend %relative;
  margin: 30px 0 20px 0;
  @media (max-width: $screen-md) {
    margin-top: 30px;
  }
  &:first-of-type {
    @extend margin-top-0;
  }
  &:after {
    border-top: 1px solid $heading-underline-color;
    border-bottom: 1px solid $heading-underline-color;
    content: "";
    float: right;
    @extend %inline-block;
    @extend %relative;
    height: 4px;
    vertical-align: middle;
    width: 100%;
    margin-bottom: 1px;
    margin-top: -3px;
  }
}
.headline h2, .headline h3, .headline h4 {
  @extend %inline-block;
  @extend %margin-top-0;
  @extend %margin-bottom-0;
  padding-bottom: 7px;
  border-bottom: 2px solid $heading-underline-color;
}