{% load static %}
{% load ccstatic %}
{% load cutlen %}

<input type="hidden" id="tripsPage" value="{{ page|add:1 }}" />
{% for sale in saleblock %}
    <div class="tripItem {% if sale.closed %}tripItem-closed{% elif sale.connected %}tripItem-connected{% elif sale.new %}tripItem-new{% endif %} row container-fluid" onclick="location.hash = '#trip{{ sale.id }}';">
        <div class="tripSection tripMainSection">
            <div class="tripFromTo">
                <div class="tripFrom tripPlace">
                    <span>
                        <img src="{{ sale.fr.img }}">
                        {{ sale.fr.title }}
                    </span>
                    <span class="tripCity">
                        {{ sale.frCity }}
                    </span>
                </div>
                <div class="tripArrow">
                    <i class="glyphicon glyphicon-arrow-right"></i>
                </div>
                <div class="tripTo tripPlace">
                    <span>
                        <img src="{{ sale.to.img }}">
                        {{ sale.to.title }}
                    </span>
                    <span class="tripCity">
                        {{ sale.toCity }}
                    </span>
                </div>

                <div>
                    <div class="tripDates tripSection">
                        <span>
                            {{ sale.frTime|date:"d.m.Y" }} -
                        </span>
                        <span>
                            {{ sale.toTime|date:"d.m.Y" }}
                        </span>
                        {% if sale.isCurrent %}
                            <span class="inTrip">
                                <i class="ai ai-earth"></i>
                                <span>
                                    В поездке
                                </span>
                            </span>
                        {% endif %}
                    </div>
                    {% if sale.closed %}
                        <span class="status-box closed">
                            <i class="ai ai-lock"></i>
                            Закрыта
                        </span>
                    {% elif sale.connected %}
                        <span class="status-box connected">
                            <i class="ai ai-checkmark"></i>
                            Диалог установлен
                        </span>
                    {% elif sale.new %}
                        <span class="status-box  new">
                            <i class="ai ai-star3"></i>
                            Новая
                        </span>
                    {% endif %}
                </div>
            </div>
            <div>
                <div class="visible-xs ownerSmall tripSection">
                    <span class="tripSectionTitle">
                        Создатель:
                    </span>
                    <a class="tripSectionContent profileLink bboldy" href="/user/profile/{{ sale.owner.id }}">
                        {{ sale.owner.first_name }} {{ sale.owner.last_name }}
                    </a>
                </div>
                <div class="tripDeposit tripSection">
                    <span class="tripSectionTitle">
                        Депозит:
                    </span>
                    <span class="tripSectionContent">
                        {{ sale.deposit | floatformat:"0"}} руб.
                    </span>
                </div>
                <div class="tripGuarant tripSection">
                    <span>
                        {% if sale.guarant %}
                            <div class="guarant">
                                <i class="ai ai-shield"></i>
                                Только с гарантом
                            </div>
                        {% endif %}
                    </span>
                </div>
            </div>
            {% if sale.content %}
                <div class="tripComment">
                    <div class="tripSection">
                        <div class="tripComment-title">
                            Комментарий:
                        </div>
                        <div class="tripComment-content">
                            {{ sale.content|cutlenw:150 }}
                        </div>
                    </div>
                </div>
            {% endif %}
            {% if static %}
                <a class="fullInfo" href="/offer/sale/{{ sale.id }}">Подробнее</a>
            {% endif %}
            <div class="tripButtons">
                {% if profile and not sale.closed and profileOwner == sale.owner %}
                    <div style="margin-bottom: 4px;">
                        <a href="/offer/sale/edit/{{ sale.id }}?backref=/user/profile/" class="fast-profile-btn btn btn-primary">
                            <i class="ai ai-pencil"></i>
                            Редактировать
                        </a>
                        <button onclick="TripClose({{ sale.id }});" class="fast-profile-btn btn btn-warning">
                            <i class="ai ai-lock"></i>
                            Закрыть
                        </button>
                        <button onclick="TripRemove({{ sale.id }});" class="fast-profile-btn btn btn-danger">
                            <i class="ai ai-close"></i>
                            Удалить
                        </button>
                    </div>
                {% endif %}
            </div>
        </div>
        <div class="tripOwner tripOwner-right tripSection hidden-xs">
            <div class="tripSectionContent">
                <a class="profileLink tripOwnerAv" href="{{ sale.owner.profileUrl }}">
                    <img src="{{ sale.owner.avatarThumbUrl }}">
                </a>
                <a class="profileLink tripOwnerName bboldy" href="{{ sale.owner.profileUrl }}">
                    {{ sale.owner.first_name }} {{ sale.owner.last_name }}
                </a>
            </div>
        </div>
    </div>
{% empty %}
    {% if profile %}
        Нет поездок
    {% else %}
        <div class="emptyList">
          <div class="part1">
            <h1>
                {% if recBuy %}
                    На данный момент рекомендуемых поездок не найдено :(
                {% else %}
                    На данный момент поездок не найдено :(
                {% endif %}
            </h1>

              <ul class="icon-boxes list-unstyled" style="margin-top: 40px">
                <li class="icon-btn icon-btn_man">
                  {% if recBuy %}
                    <a href="/offer/buy/list/#buy{{ recBuy.id }}">
                  {% else %}
                    <a href="/">
                  {% endif %}
                    <span class="icon-btn_icon">
                      <i class="ai ai-arrow-left"></i>
                    </span>
                    <span class="icon-btn_text">
                      Назад
                    </span>
                  </a>
                </li>
              </ul>
            </div>
            <div class="row space">
              <p  style="font-weight:300; margin-top: -30px;" class="space text-center lead">Ссылки:</p>
              <ul class="icon-boxes list-unstyled">
                <li class="icon-btn icon-btn_man">
                  {% if recBuy %}
                    <a href="/offer/buy/list">
                  {% else %}
                    <a href="/">
                  {% endif %}
                    <span class="icon-btn_icon">
                      <i class="ai ai-earth"></i>
                    </span>
                    <span class="icon-btn_text" >
                      {% if recBuy %}
                        Поездки
                      {% else %}
                        Главная
                      {% endif %}
                    </span>
                  </a>
                </li>
                <li class="icon-btn icon-btn_cart">
                  <a href="/info/faqs/">
                    <span class="icon-btn_icon">
                      <i class="ai ai-question"></i>
                    </span>
                    <span class="icon-btn_text">
                      FAQ
                    </span>
                  </a>
                </li>
                <li class="icon-btn icon-btn_features">
                  <a href="/info/contact-minimalist/">
                    <span class="icon-btn_icon">
                      <i class="ai ai-mail2"></i>
                    </span>
                    <span class="icon-btn_text">
                      Контакты
                    </span>
                  </a>
                </li>
              </ul>
            </div>
        </div>
    {% endif %}
{% endfor %}

<div style="text-align: center;">
    {% include "pagination.html" %}
</div>

