// Adapto Icon Variables

$ai-font-path: "../fonts/adapto/" !default;
$ai-css-prefix: ai !default;
$ai-border-color: $color1 !default;
$ai-inverse: $color2 !default;
$ai-li-width: (30em / 14) !default;