// List Icons
// -------------------------

.#{$ai-css-prefix}-ul {
  padding-left: 0;
  margin-left: $ai-li-width;
  list-style-type: none;
  > li { position: relative; }
}
.#{$ai-css-prefix}-li {
  position: absolute;
  left: -$ai-li-width;
  width: $ai-li-width;
  top: (2em / 14);
  text-align: center;
  &.#{$ai-css-prefix}-lg {
    left: -$ai-li-width + (4em / 14);
  }
}