// For Colorizing Icon Fonts

.ai-primary {color: $brand-primary;}
.ai-info {color: $brand-info;}
.ai-success {color: $brand-success;}
.ai-warning {color: $brand-warning;}
.ai-danger {color: $brand-danger;}

.color-primary {color: $brand-primary;}
.color-info {color: $brand-info;}
.color-success {color: $brand-success;}
.color-warning {color: $brand-warning;}
.color-danger {color: $brand-danger;}