@font-face { font-family: 'ai';   src: url($ai-font-path);
  src:url('../fonts/adapto/ai.eot?#iefixp0ml5d') format('embedded-opentype'),
    url('../fonts/adapto/ai.woff?p0ml5d') format('woff'),
    url('../fonts/adapto/ai.ttf?p0ml5d') format('truetype'),
    url('../fonts/adapto/ai.svg?p0ml5d#adapto-icons') format('svg');
  font-weight: normal;
  font-style: normal;
}