@titleFontSize: 20pt;
@titleBgColor: #f8f8ff;

.acts {
    height: 120px;
    background-color: #ddf;
}

.acts {
    .actButtons {
        margin-top: 20px;
    }
}

.tripsTitle {
    text-align: center;
    font-size: @titleFontSize;
    background-color: @titleBgColor;
}

.trips {
}


.buysTitle {
    text-align: center;
    font-size: @titleFontSize;
    background-color: @titleBgColor;
}

.buys {
    .buyItemWrapper {
        border: 1px solid #f8f8ff;
        margin-bottom: 10px;
        
        .buyItem {
            border: 1px solid #eee;
            padding: 6px 10px;

            .userPart {
                .userPic {
                    height: 50px;
                    background-color: #eee;
                }
                .username {
                }
            }
            .mainPart {
                vertical-align: top;

                .buyTitle {
                    font-weight: 900;
                }

                .buyContent {
                }
            }
            .buyCostWrapper {
                .buyCost {
                    float: right;
                }
            }
        }
    }
}

