@titleFontSize: 20pt;
@titleBgColor: #f8f8ff;

.mainHeaderWrapper {
    margin-bottom: 20px;

    .mainHeader {
        height: 450px;
        
        .title {
            margin-top:  120px;
            text-align: center;
            font-size: 24pt;
            color: #a00;
        }
    }

    .acts {
        position: absolute;
        width: 100%;
        bottom: 0px;
        height: 15%;
        background-color: rgba(40, 40, 60, 0.8);

        .actButtons {
            position: absolute;
            width: 66.66667%;
            left: 16.66667%;
            top: 30%;
            height: 40%;

            .actBtn {
                position: absolute;
                border: 1px solid #ccc;
                background-color: #eee;
                width: 40%;
                height: 100%;

                .actBtnText {
                    position: absolute;
                    left: 50%;
                    top: 50%;
                    color: #000;
                    font-size: 12pt;
                    transform: translate(-50%, -50%);
                }
            }

            .actBtn:hover {
                text-decoration: none;
                background-color: #ddd;
            }

            .actBtnSale {
                left: 8%;
            }

            .actBtnBuy {
                right: 8%;
            }
        }
    }
}

.tripsTitle {
    text-align: center;
    font-size: @titleFontSize;
    background-color: @titleBgColor;
}

.trips {
}


.buysTitle {
    text-align: center;
    font-size: @titleFontSize;
    background-color: @titleBgColor;
}

.buys {
    .buyItemWrapper {
        border: 1px solid #f8f8ff;
        margin-bottom: 10px;
        
        .buyItem {
            border: 1px solid #eee;
            padding: 6px 10px;

            .userPart {
                .userPic {
                    height: 50px;
                    background-color: #eee;
                }
                .username {
                }
            }
            .mainPart {
                vertical-align: top;

                .buyTitle {
                    font-weight: 900;
                }

                .buyContent {
                }
            }
            .buyCostWrapper {
                .buyCost {
                    float: right;
                }
            }
        }
    }
}

