#team-large {
  .row { margin-left: 0; }
  h4 { 
    font-size: 15px; 
    margin-top: 4px;
  }
  .team-block {
    margin: 5px;
    float: left;
    @include social-media-colors($gray);
  }
}

.team-block:hover {
  .image-effect-wrap {
    .image-overlay { opacity: 0; }
  }
}