{% load bootstrap3 %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <script src="//code.jquery.com/jquery-1.10.2.js"></script>
    <script src="//code.jquery.com/ui/1.11.1/jquery-ui.js"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.1/themes/smoothness/jquery-ui.css">
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <script src="{% static "js/csrf.js" %}"></script>
    <link rel="stylesheet" href="{% static "css/base.css" %}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% block own_head %}{% endblock %}
</head>
<body>
    {% block main %}{% endblock %}
</body>
</html>
