{% load bootstrap3 %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <script src="//code.jquery.com/jquery-1.10.2.js"></script>
    <script src="//code.jquery.com/ui/1.11.1/jquery-ui.js"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.1/themes/smoothness/jquery-ui.css">
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <link rel="stylesheet" href="{% static "css/base.css" %}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% block own_head %}{% endblock %}
</head>
<body>
    <div class="header container-fluid">
        <div class="topPanel container-fluid">
            <div class="col-md-6">
                <div class="logo">
                    <a href="/">Trip&amp;Sale</a>
                </div>
            </div>
            <div class="col-md-6 authPanel">
                {% if profileOwner %}
                    <span class="userPanel">
                        <span class="usernameButton">
                            {{ profileOwner.username }}
                        </span>
                        <a href="/user/logout">
                            <span class="logoutButton">
                                Выйти
                            </span>
                        </a>
                    </span>
                {% else %}
                    <span class="topButtons">
                        <a href="/user/auth">
                            <button type="button" class="btn btn-default authButton topButton">
                                Регистрация / Вход
                            </button>
                        </a>
                    </span>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="main">
        {% block main %}{% endblock %}
    </div>
    <div class="footer">
        FOOTER
    </div>
</body>
</html>
