{% load static %}
{% load ccstatic %}
{% load cutlen %}

<input type="hidden" id="buysPage" value="{{ page|add:1 }}" />

{% for buy in buyblock %}
    <div class="buy-item container-fluid {% if buy.closed %}buy-item-closed{% elif buy.connected %}buy-item-connected{% endif %}" onclick="location.hash = '#buy{{ buy.id }}';">
        <div class="buy-section photo hidden-xs">
            <img src="{{ buy.gallery.getHeadUrl }}" alt="">
        </div>
        <div class="buy-section content">
            <div>
                <div class="title">
                    {{ buy.title }}
                </div>
            </div>
            <div class="buyFromTo">
                {% if buy.fr or buy.to %}
                    <div class="buyFrom buyPlace">
                        {% if buy.fr %}
                            <span>
                                <img src="{{ buy.fr.img }}">
                                {{ buy.fr.title }}
                            </span>
                            <span class="buyCity">
                                {{ buy.frCity }}
                            </span>
                        {% else %}
                            <span>
                                Не указано
                            </span>
                        {% endif %}
                    </div>
                    <div class="buyArrow">
                        <i class="glyphicon glyphicon-arrow-right"></i>
                    </div>
                    {% if buy.to %}
                        <div class="buyTo buyPlace">
                            <span>
                                <img src="{{ buy.to.img }}">
                                {{ buy.to.title }}
                            </span>
                            <span class="buyCity">
                                {{ buy.toCity }}
                            </span>
                        </div>
                    {% endif %}
                {% endif %}
            </div>
            <div class="visible-xs owner-small">
                <span>
                    Создатель:
                </span>
                <a class="indissoluble bboldy" href="/user/profile/{{ buy.owner.id }}">
                    {{ buy.owner.first_name }} {{ buy.owner.last_name }}
                </a>
            </div>
            <div class="prices">
                <span>
                    Готов заплатить:
                </span>
                <span class="indissoluble">
                    <span class="bboldy">{{ buy.costFrom|floatformat:"0" }} руб.</span>
                    -
                    <span class="bboldy">{{ buy.costTo|floatformat:"0" }} руб.</span>
                </span>
            </div>
            <div class="indissoluble">
                {% if buy.guarant %}
                    <span class="guarant">
                        <i class="ai ai-shield"></i>
                        Только с гарантом
                    </span>
                {% endif %}
                {% if buy.closed %}
                    <span class="status-box closed">
                        <i class="ai ai-lock"></i>
                        Закрыт
                    </span>
                {% elif buy.connected %}
                    <span class="status-box connected">
                        <i class="ai ai-checkmark"></i>
                        Диалог установлен
                    </span>
                {% elif buy.new %}
                    <span class="status-box  new">
                        <i class="ai ai-star3"></i>
                        Новый
                    </span>
                {% endif %}
            </div>
            {% if buy.content %}
                <div class="comment">
                    <span class="comment-title">
                        Комментарий:
                    </span>
                    <span class="comment-content">
                        {{ buy.content|cutlenw:150 }}
                    </span>
                </div>
            {% endif %}
            {% if static %}
                <a class="full-info" href="/offer/buy/{{ buy.id }}">Подробнее</a>
            {% endif %}
            <div>
                {% if profile and not buy.closed and profileOwner == buy.owner %}
                    <div style="margin-bottom: 4px;">
                        <a href="/offer/buy/edit/{{ buy.id }}?backref=/user/profile/" class="fast-profile-btn btn btn-primary">
                            <i class="ai ai-pencil"></i>
                            Редактировать
                        </a>
                        <button onclick="BuyClose({{ buy.id }});" class="fast-profile-btn btn btn-warning">
                            <i class="ai ai-lock"></i>
                            Закрыть
                        </button>
                        <button onclick="BuyRemove({{ buy.id }});" class="fast-profile-btn btn btn-danger">
                            <i class="ai ai-close"></i>
                            Удалить
                        </button>
                    </div>
                {% endif %}
            </div>
        </div>
         <div class="buy-section owner-right owner hidden-xs">
            <div class="section-content">
                <a class="profile-link owner-av" href="{{ buy.owner.profileUrl }}">
                    <img src="{{ buy.owner.avatarThumbUrl }}">
                </a>
                <a class="profile-link owner-name bboldy" href="{{ buy.owner.profileUrl }}">
                    {{ buy.owner.first_name }} {{ buy.owner.last_name }}
                </a>
            </div>
        </div>
        <span class="clear-section"></span>

    </div>
{% empty %}
    {% if profile %}
        Нет заказов
    {% else %}
      <div class="emptyBuyList">
          <div class="part1">
            <h1>
                {% if recSale %}
                    На данный момент рекомендуемых заказов не найдено :(
                {% else %}
                    На данный момент заказов не найдено :(
                {% endif %}
            </h1>

              <ul class="icon-boxes list-unstyled" style="margin-top: 40px">
                <li class="icon-btn icon-btn_man">
                  {% if recSale %}
                    <a href="/offer/sale/list/#trip{{ recSale.id }}">
                  {% else %}
                    <a href="/">
                  {% endif %}
                    <span class="icon-btn_icon">
                      <i class="ai ai-arrow-left"></i>
                    </span>
                    <span class="icon-btn_text">
                      Назад
                    </span>
                  </a>
                </li>
              </ul>
            </div>
            <div class="row space">
              <p  style="font-weight:300; margin-top: -30px;" class="space text-center lead">Ссылки:</p>
              <ul class="icon-boxes list-unstyled">
                <li class="icon-btn icon-btn_man">
                  {% if recSale %}
                    <a href="/offer/sale/list">
                  {% else %}
                    <a href="/">
                  {% endif %}
                    <span class="icon-btn_icon">
                      <i class="glyphicon glyphicon-briefcase"></i>
                    </span>
                    <span class="icon-btn_text" >
                      {% if recSale %}
                        Заказы
                      {% else %}
                        Главная
                      {% endif %}
                    </span>
                  </a>
                </li>
                <li class="icon-btn icon-btn_cart">
                  <a href="/info/faqs/">
                    <span class="icon-btn_icon">
                      <i class="ai ai-question"></i>
                    </span>
                    <span class="icon-btn_text">
                      FAQ
                    </span>
                  </a>
                </li>
                <li class="icon-btn icon-btn_features">
                  <a href="/info/contact-minimalist/">
                    <span class="icon-btn_icon">
                      <i class="ai ai-mail2"></i>
                    </span>
                    <span class="icon-btn_text">
                      Контакты
                    </span>
                  </a>
                </li>
              </ul>
            </div>
        </div>
    {% endif %}
{% endfor %}

<div style="text-align: center;">
    {% include "pagination.html" %}
</div>

