{% extends "base.html" %}
{% load static %}

{% block own_title %}
Заказы -
{% endblock %}

{% block own_head %}
    <script src="{% static "offer/buy/list.js" %}"></script>
    <link rel="stylesheet" href="{% static "css/offer/buy/list.css" %}"/>
{% endblock %}

{% block main %}
    <div class="buys container-fluid container2 bg0">
        <div class="buysFilter col-md-2">
            <div>
                <form class="form-horizontal" role="form">
                    <div class="form-group">
                        <div class="col-md-12">
                            <input type="text" id="buysTitle" class="form-control" placeholder="Название">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            <input type="button" id="buysFilterApply" class="btn btn-default form-control" value="Применить">
                        </div>
                    </div>
                </form>
            </div>
            <hr>
            <div>
                <a class="btn btn-default" href="/offer/buy">
                    <i class="glyphicon glyphicon-plus"></i>
                    Добавить
                </a>
            </div>
        </div>
        <div class="buysList col-md-10">
        </div>
    </div>
    <div class="buyViewWrapper">
    </div>
    <div id="blueimp-gallery" class="blueimp-gallery">
        <!-- The container for the modal slides -->
        <div class="slides"></div>
        <!-- Controls for the borderless lightbox -->
        <h3 class="title"></h3>
        <a class="prev">‹</a>
        <a class="next">›</a>
        <a class="close">×</a>
        <a class="play-pause"></a>
        <ol class="indicator"></ol>
        <!-- The modal dialog, which will be used to wrap the lightbox content -->
        <div class="modal fade">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" aria-hidden="true">&times;</button>
                        <h4 class="modal-title"></h4>
                    </div>
                    <div class="modal-body next">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default pull-left prev">
                            <i class="glyphicon glyphicon-chevron-left"></i>
                            Пред.
                        </button>
                        <button type="button" class="btn btn-default next">
                            След.
                            <i class="glyphicon glyphicon-chevron-right"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
