<div class="buyViewBg">
    <div class="buyViewGoBack" onClick="BuyViewClose();">
    </div>
    <div class="buyView bg0">
        <button type="button" class="buyViewCloseBtn btn btn-default" onClick="BuyViewClose();">
            <span class="glyphicon glyphicon-remove-circle"></span>
        </button>
        <div class="buyViewContent">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-8">
                        <div class="title">
                            <div class="buy-item-content">
                                {{ buy.title }}
                            </div>
                        </div>
                        <hr>
                        <div class="cost">
                            <span class="cost-title buy-item-title">
                                Цена:
                            </span>
                            <span class="cost-content buy-item-content">
                                {{ buy.costFrom }} $ - {{ buy.costTo }} $
                            </span>
                        </div>
                    </div>
                    <div class="owner col-md-4">
                        <div class="owner-name">
                            <a href="{{ buy.owner.profileUrl }}">
                                {{ buy.owner.first_name }} {{ buy.owner.last_name }}
                            </a>
                        </div>
                        <div class="owner-av">
                            <img src="{{ buy.owner.avatarUrl }}">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <hr>
                        <div>
                            <h5>
                                Фото
                            </h5>
                        </div>
                        <div id="links">
                            {% for photo in buy.gallery.getPhotos %}
                                <a href="{{ photo.url }}" title="" data-gallery>
                                    <img src="{{ photo.thumbUrl }}" alt="">
                                </a>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <hr>
                        {% if profileOwner == buy.owner %}
                            <a type="button" class="btn btn-default" href="/offer/buy/edit/{{ buy.id }}">
                                <i class="ai ai-pencil"></i>
                                Редактировать
                            </a>
                        {% else %}
                            <a type="button" class="btn btn-default" href="/user/im?peer={{ buy.owner.id }}">
                                <i class="glyphicon glyphicon-hand-up"></i>
                                Связаться
                            </a>
                        {% endif %}
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

