.user {
    border: 1px solid #ddd;
    background-color: #eee;
    margin: auto auto 8px auto;
    padding: 4px 4px;

    .userFullname {
        font-weight: 900;
        color: #722;
        
        &:hover {
            text-decoration: none;
        }
    }
}
