.authBlockWrapper {
    .authBlock {
        .authTitle {
            text-align: center;
            font-size: 14pt;
            margin-bottom: 8px;
        }

        .btnAuth {
            text-align: center;
        }
    }
}

.authBlockWrapperReg {
    border: solid #eee;
    border-width: 0px 1px 0px 0px;
}
