.msgsWrapper {
    margin-bottom: 190px;
    .msgs {
        height: 100%;

        .msgGroup {
            margin-bottom: 20px;

            .title {
                margin-bottom: 4px;

                .author {
                    display: inline-block;

                    .peerAv {
                        max-width: 50px;
                        max-height: 50px;
                    }
                }

                .guarant {
                    color: #550;

                    i.ai {
                        color: #a00;
                    }
                }
            }

            .groupBody {
                .msg {
                    .time {
                        text-align: right;
                        color: #ccc;
                    }

                    .content {
                        word-wrap: break-word;
                    }
                }

                .msg-sys {
                    background-color: #ffd;
                    color: #002;
                }

                .msg-unread {
                    background-color: #ddd;
                    .time {
                        color: #ddd;
                    }
                }
            }
        }
    }
}

.wait {
    background-color: #e0e0e0;
}

.wait:active {
    background-color: #e0e0e0;
}

.sendMsg {
    margin-bottom: 20px;
}

.imfooter-wrap {
    position: fixed;
    bottom: 0px;
    width:100%;
    background-color: #f4f4f4;

    .footer-link {
        color: #fff;
        padding: 0px 50px 0px 50px;
    }

    .footer-link:hover {
        color: #ddd;
    }
}