.msgsWrapper {
    .msgs {
        height: 100%;

        .msgGroup {
            margin-bottom: 10px;

            .title {
                margin-bottom: 4px;
                
                .author {
                    display: inline-block;

                    .peerAv {
                        max-width: 50px;
                        max-height: 50px;
                    }
                }
            }

            .groupBody {
                .msg {
                    .time {
                        text-align: right;
                        color: #ccc;
                    }

                    .content {
                        word-wrap: break-word;
                    }
                }
                .msg-unread {
                    background-color: #ddd;
                    .time {
                        color: #999;
                    }
                }
            }
        }
    }
}

footer {
    .sendMsg {
        
    }
}
