.dialogs {
    .dialog {
        border: 1px solid #ddd;
        margin: auto auto 4px auto;
        padding: 4px 4px;

        .peer {
            font-weight: 900;
            color: #722;

            .peerAv {
                max-width: 50px;
                max-height: 50px;
            }
        }

        .itsMe {
            font-weight: 900;
        }
    }

    .dialog-unread {
        background-color: #ddd;
    }
}
