{% extends "base.html" %}
{% load static %}
{% load ccstatic %}

{% block own_title %}
    Почти готово! -
{% endblock %}

{% block main %}
    <div class="container container-fluid" style="margin-top: 20px;">
        <div class="alert alert-success">
            <strong>Почти готово!</strong><br/>
            На почту <strong>{{ email }}</strong> была выслана ссылка с кодом подтверждения.<br/>
            Если письмо долго не приходит, посмотрите в папке "спам".
        </div>
    </div>
{% endblock %}