{% extends "base.html" %}
{% load static %}

{% block own_title %}
Редактирование профиля -
{% endblock %}

{% block own_head %}
    <script src="{% static "user/edit_profile.js" %}" type="text/javascript"></script>
    <link rel="stylesheet" href="{% static "css/user/edit_profile.css" %}">
    {% include "file-upload.html" %}
{% endblock %}

{% block main %}
    <div class="container-fluid">
        <div class="editProfile col-md-6">
            <div class="authTitle">
                <h4>Редактирование профиля</h4>
            </div>
            <hr>
            <form enctype="multipart/form-data" class="form-horizontal" role="form" action="" method="post">
                {% csrf_token %}
                <input type="hidden" name="act" value="edit">
                <div class="form-group">
                    <label for="inputFirstName" class="col-sm-3 control-label">Имя:</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" id="inputFirstName" name="firstName" placeholder="Имя" value="{{ prUser.first_name}}">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputLastName" class="col-sm-3 control-label">Фамилия:</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" id="inputLastName" name="lastName" placeholder="Фамилия" value="{{ prUser.last_name }}">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputEmail" class="col-sm-3 control-label">Email:</label>
                    <div class="col-sm-9">
                        <input type="email" readonly class="form-control" id="inputEmail" name="email" placeholder="Email" value="{{ prUser.email }}">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-3" for="inputCountry">Место проживания:</label>
                    <div class="col-sm-5">
                        <select id="inputCountry" name="country" placeholder="Страна" value="{{ prUser.country.name }}">
                            {% for country in countries %}
                                <option value="{{ country.name }}" {% if country == prUser.country %}selected{% endif %}>
                                    {{ country.title }}
                                </option>
                            {% endfor %}
                        </select>
                        <!--
                        <input type="text" class="form-control" id="inputCountry" name="country" placeholder="Страна">
                        -->
                    </div>
                    <div class="col-sm-4">
                        <input type="text" class="form-control" id="inputCity" name="city" placeholder="Город" value="{{ prUser.city }}">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputBday" class="col-sm-3 control-label">Дата рождения:</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" id="inputBday" name="bday" placeholder="Дата рождения" {% if prUser.bday != "01.01.1970" %}value="{{ prUser.bday }}"{% endif %} />
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-3" for="inputAvatar">Аватар:</label>
                    <div class="col-sm-9">
                        <!--
                        <span class="btn btn-info fileinput-button">
                            <i class="glyphicon glyphicon-plus"></i>
                            <span>Загрузить</span>
                            <input type="file" accept="image/*" name="avatar" id="inputAvatar">
                        </span>
                        -->
                        <input type="file" accept="image/*" name="avatar" id="inputAvatar">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-3" for="inputAvatar">Текущий аватар:</label>
                    <div class="col-sm-9">
                        <img src="{{ prUser.avatarUrl }}" style="max-width: 300px; max-height: 300px;">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputAbout" class="col-sm-3 control-label">О себе:</label>
                    <div class="col-sm-9">
                        <textarea class="form-control" id="inputAbout" name="about" placeholder="О себе">{{ prUser.about }}</textarea>
                    </div>
                </div>
                <hr>
                <div class="form-group">
                    <label for="inputOldPassword" class="col-sm-3 control-label">Старый пароль:</label>
                    <div class="col-sm-9">
                        <input type="password" class="form-control" id="inputOldPassword" name="oldPassword" placeholder="Старый пароль">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputPassword" class="col-sm-3 control-label">Новый пароль:</label>
                    <div class="col-sm-9">
                        <input type="password" class="form-control" id="inputPassword" name="password" placeholder="Новый пароль">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputPassword2" class="col-sm-3 control-label"></label>
                    <div class="col-sm-9">
                        <input type="password" class="form-control" id="inputPassword2" name="password2" placeholder="Повторите пароль">
                    </div>
                </div>
                <hr>
                <div class="btnAuth">
                    <button type="submit" class="btn btn-default col-md-offset-3">Применить изменения</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
