{% extends "base_list.html" %}
{% load static %}

{% block own_title %}
Сообщения -
{% endblock %}

{% block own_head %}
    <script src="{% static "user/im.js" %}"></script>
    <link rel="stylesheet" href="{% static "css/user/im.css" %}"/>
{% endblock %}

{% block main %}
    <input type="hidden" id="conf" value="{{ conf.id }}">
    <div class="msgsWrapper bg0 container-fluid">
        <div class="msgs col-md-offset-2 col-md-8 container-fluid">
        </div>
    </div>
{% endblock %}

{% block footer %}
    <div class="imfooter-wrap">
        <div class="sendMsg container-fluid">
            <div class="col-md-10 col-md-offset-1">
                <textarea id="msgContent" class="form-control" rows="2" style="resize: none;"></textarea>
                <button type="button" class="sendBtn btn btn-primary">Отправить</button>
                <button type="button" class="guarantBtn btn btn-warning" style="display: none;">Добавить гаранта</button>
                <button type="button" class="toWithGuarantBtn btn btn-success" style="display: none;">К диалогу с гарантом</button>
                <button type="button" class="toWithoutGuarantBtn btn btn-primary1" style="display: none;">К диалогу без гаранта</button>
            </div>
        </div>
        <!-- FOOTER Small -->
        <footer class="site-footer footer bgBlueDark">
          <div class="container">

            <div class="row" style="color: White;">

              <div class="col-md-12 site-footer--col">
                <div class="headline site-footer--heading" style="margin-bottom: 10px;">
                  <div class="row">
                    <h3 class="col-md-6 text-center"style="color: White;"><a class="footer-link" href="/">Trip<span class="ai ai-compass"></span>Sale</a></h3>
                    <h3 class="col-md-3 text-center">
                        <a class="footer-link" href="/user/mail">Диалоги</a>
                    </h3>
                    <h3 class="col-md-3 text-center">
                        <a class="footer-link" href="/info/faqs/">FAQ</a>
                    </h3>
                  </div>
                </div>
              </div> <!-- end col -->
            </div> <!-- end row -->
          </div>  <!-- end container -->
        </footer>
    </div>
{% endblock %}
