{% extends "base_list.html" %}
{% load static %}

{% block own_head %}
    <script src="{% static "user/im.js" %}"></script>
    <link rel="stylesheet" href="{% static "css/user/im.css" %}"/>
{% endblock %}

{% block main %}
    <input type="hidden" id="conf" value="{{ conf.id }}">
    <div class="msgsWrapper bg0 container-fluid">
        <div class="msgs col-md-offset-2 col-md-8 container-fluid">
        </div>
    </div>
{% endblock %}

{% block footer %}
    <div class="sendMsg container-fluid">
        <div class="col-md-10 col-md-offset-1">
            <textarea id="msgContent" class="form-control" rows=2></textarea>
            <button type="button" class="sendBtn btn btn-default">Отправить</button>
            <button type="button" class="guarantBtn btn btn-default" style="display: none;">Добавить гаранта</button>
        </div>
    </div>
{% endblock %}
