{% for msgGroup in msgs %}
    <div class="msgGroup container-fluid">
        <div class="title">
            {% if msgGroup.0.fr %}
            <div class="author bboldy">
                {% if msgGroup.0.fr.guarant %}
                    <span class="bboldy guarant">
                        <img src="{{ msgGroup.0.fr.avatarThumbUrl }}" class="peerAv">
                        <i class="ai ai-shield"></i>
                        Гарант:
                    </span>
                {% else %}
                    <a href="{{ msgGroup.0.fr.profileUrl }}" class="bboldy">
                        <img src="{{ msgGroup.0.fr.avatarThumbUrl }}" class="peerAv">
                        {{ msgGroup.0.fr.first_name }} {{ msgGroup.0.fr.last_name }}:
                    </a>
                {% endif %}
            </div>
            {% endif %}
        </div>
        <div class="groupBody">
            {% for msg in msgGroup %}
                {% if msg.fr %}
                    <div class="msg {% if msg.new %}bg1 msg-unread{% endif %} container-fluid">
                        <div class="content col-md-8">
                            {% for line in msg.parse.lines %}
                                {% for word in line.words %}
                                    {% if word.isLink %}
                                        <a href="{{ word.word }}" target="_blank">{{ word.word }}</a>
                                    {% else %}
                                        {{ word.word }}
                                    {% endif %}
                                {% endfor %}
                            {% endfor %}
                        </div>
                        <div class="time col-md-4">
                            {{ msg.time|date:"d.m.Y" }} {{ msg.time|time:"H:i:s" }}
                        </div>
                    </div>
                {% else %}
                    <div class="msg msg-sys {% if msg.new %}bg1 msg-unread{% endif %} container-fluid">
                        <div class="content col-md-8">
                            {{ msg.content }}
                        </div>
                        <div class="time col-md-4">
                            {{ msg.time|date:"d.m.Y" }} {{ msg.time|time:"H:i:s" }}
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
{% endfor %}
