{% extends "base.html" %}
{% load static %}
{% load ccstatic %}

{% block own_title %}
Пользователи -
{% endblock %}

{% block own_head %}
    <script src="{% ccstatic "user/list.js" %}" type="text/javascript"></script>
    <link rel="stylesheet" href="{% ccstatic "css/user/all.css" %}">
{% endblock %}

{% block main %}
    <div class="page-header-wrap">
       <div class="container">
         <div class="page-header text-center">
           <h1>Список пользователей</h1>
         </div>
       </div>
     </div>
    <div class="user-list container-fluid bg0">
        <div class="col-md-8 col-md-offset-2 userList">
        </div>
    </div>
{% endblock %}
