{% extends "base.html" %}
{% load static %}
{% load ccstatic %}

{% block own_title %}
Профиль -
{% endblock %}

{% block own_head %}
    <script src="{% ccstatic "offer/buy/util.js" %}" type="text/javascript"></script>
    <script src="{% ccstatic "offer/sale/util.js" %}" type="text/javascript"></script>
    <script src="{% ccstatic "user/profile.js" %}" type="text/javascript"></script>
    <link rel="stylesheet" href="{% ccstatic "css/offer/buy/list.css" %}">
    <link rel="stylesheet" href="{% ccstatic "css/offer/sale/list.css" %}">
    <link rel="stylesheet" href="{% ccstatic "css/user/profile.css" %}">
{% endblock %}

{% block main %}
    <input type="hidden" id="user" value="{{ prUser.id }}">
    <input type="hidden" id="blockStartupList" value="1">
    <div class="profile-wrap container-fluid">
        <div class="row">
            {% if firsttime %}
                <div class="col-md-8 col-md-offset-2 col-xs-12 alert alert-success pagestatus">
                    <strong>Регистрация завершена!</strong><br/>
                    Теперь Вы можете дополнить информацию о себе. Заполненный профиль привлекает больше внимания и увеличивает шансы на то, что другие пользователи обратятся именно к Вам!
                </div>
            {% endif %}
            <div class="col-md-6 col-md-offset-3 col-xs-12 userInfo">
                <h3>Профиль: <strong>{{ prUser.first_name }} {{ prUser.last_name }}</strong></h3>
            </div>
            <div class="col-md-6 col-md-offset-2 col-xs-12 userInfo">
                <div class="row container-fluid profile-item">
                    <label class="col-sm-3">Адрес:</label>
                    <div class="col-sm-9">
                        <img src="{{ prUser.country.img }}" />
                        {{ prUser.country.title }} {{ prUser.city }}
                    </div>
                </div>
                {% if prUser.birthday %}
                    <div class="row container-fluid profile-item">
                        <label class="col-sm-3">Дата рождения:</label>
                        <div class="col-sm-9">
                            {{ prUser.birthday|date:"d.m.Y" }}
                        </div>
                    </div>
                {% endif %}
                {% if prUser.about %}
                    <div class="row container-fluid profile-item">
                        <label class="col-sm-3">О себе:</label>
                        <div class="col-sm-9">
                            {{ prUser.about }}
                        </div>
                    </div>
                {% endif %}

                <div class="profile-action profile-item">
                    {% if prUser.id == user.id %}
                        <a href="/user/edit_profile" class="btn btn-default">
                            <i class="ai ai-pencil"></i>
                            Редактировать
                        </a>
                    {% else %}
                        <a href="/user/im?peer={{ prUser.id }}" class="btn btn-default">
                            <i class="ai ai-mail2"></i>
                            Написать сообщение
                        </a>
                    {% endif %}
                </div>
            </div>
            <div class="col-md-4" style="overflow:hidden">
                <img src="{{ prUser.avatarUrl }}" style="max-width: 200px; max-height: 200px;">
            </div>
        </div>
        {% if prUser.id == user.id %}
            <div class="row" style="margin-top: 20px;">
                <div class="col-md-8 col-md-offset-2 col-xs-12">
                    <a href="/offer/sale/add/" class="btn btn-default"><i class="glyphicon glyphicon-plus"></i> Новая поездка</a>
                    <a href="/offer/buy/add/" class="btn btn-default"><i class="glyphicon glyphicon-plus"></i> Новый заказ</a>
                </div>
            </div>
        {% endif %}
        <div class="row">
            <div class="panel-group col-md-8 col-md-offset-2 col-xs-12" id="zbs">
                <div class="panel panel-primary" style="margin-top:20px;">
                    <a class="panel-heading" data-toggle="collapse" data-parent="#zbs" href="#sales">
                        Поездки
                        <i class="ai ai-arrow-down5 ai-2x" style="float: right;"></i>
                    </a>
                    <input type="hidden" id="tripsOwner" value="{{ prUser.id }}" />
                    <input type="hidden" id="tripsProfile" value="1" />
                    <div class="panel-collapse collapse" id="sales">
                        <div class="listContainer tripsList">
                        </div>
                    </div>
                </div>
                <div class="panel panel-primary" style="margin-top:20px;">
                    <a class="panel-heading" data-toggle="collapse" data-parent="#zbs" href="#buys">
                        Заказы
                        <i class="ai ai-arrow-down5 ai-2x" style="float: right;"></i>
                    </a>
                    <input type="hidden" id="buysOwner" value="{{ prUser.id }}" />
                    <input type="hidden" id="buysProfile" value="1" />
                    <div class="panel-collapse collapse" id="buys">
                        <div class="listContainer buysList">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="buyViewWrapper" style="display: none;">
        <div class="buyViewBg">
            <div class="buyViewGoBack" onClick="BuyViewClose();">
            </div>
            <div class="buyView bg0">
                <button type="button" class="buyViewCloseBtn btn btn-default" onClick="BuyViewClose();">
                    <span class="glyphicon glyphicon-remove-circle"></span>
                </button>
                <div class="buyViewContent">
                </div>
            </div>
        </div>
    </div>
    <div class="tripViewWrapper" style="display: none;">
        <div class="tripViewBg">
            <div class="tripViewGoBack" onClick="TripViewClose();">
            </div>
            <div class="tripView bg0">
                <button type="button" class="tripViewCloseBtn btn btn-default" onClick="TripViewClose();">
                    <span class="glyphicon glyphicon-remove-circle"></span>
                </button>
                <div class="tripViewContent">
                </div>
            </div>
        </div>
    </div>
    <div id="blueimp-gallery" class="blueimp-gallery">
        <!-- The container for the modal slides -->
        <div class="slides"></div>
        <!-- Controls for the borderless lightbox -->
        <h3 class="title"></h3>
        <a class="prev">‹</a>
        <a class="next">›</a>
        <a class="close">×</a>
        <a class="play-pause"></a>
        <ol class="indicator"></ol>
        <!-- The modal dialog, which will be used to wrap the lightbox content -->
        <div class="modal fade">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" aria-hidden="true">&times;</button>
                        <h4 class="modal-title"></h4>
                    </div>
                    <div class="modal-body next">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default pull-left prev">
                            <i class="glyphicon glyphicon-chevron-left"></i>
                            Пред.
                        </button>
                        <button type="button" class="btn btn-default next">
                            След.
                            <i class="glyphicon glyphicon-chevron-right"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
